<h1 md-dialog-title>{{ 'upload medium' | translate }}</h1>

<md-dialog-content>
  <form id="upload-medium-form">
    <md-input-container>
      <input mdInput placeholder="{{ 'title' | translate }}" [(ngModel)]="medium.title" name="title" required>
    </md-input-container>

    <md-input-container>
      <textarea
        mdInput
        mdTextareaAutosize
        #autosize="mdTextareaAutosize"
        placeholder="{{ 'description' | translate }}"
        [(ngModel)]="medium.description"
        name="desc"></textarea>
    </md-input-container>

    <div id="file-upload">
      <md-select placeholder="{{ 'type' | translate }}" [(ngModel)]="medium.type" name="type" (ngModelChange)="setAcceptedTypes()">
        <md-option *ngFor="let type of types" [value]="type">{{ type | translate }}</md-option>
      </md-select>

      <input type="file" [accept]="acceptedTypes" (change)="fileSet($event)">
      <img [src]="url" class="image-size" *ngIf="file" alt="Image preview">
    </div>
  </form>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-raised-button md-dialog-close>
    {{ 'cancel' | translate }}
    <md-icon>cancel</md-icon>
  </button>
  <button md-raised-button color="primary" (click)="dialogRef.close({media: medium, file: file})" [disabled]="!medium.isValid() && !file">
    {{ 'save' | translate }}
    <md-icon>save</md-icon>
  </button>
</md-dialog-actions>
