<h1 md-dialog-title>{{ 'change history' | translate }}</h1>

<md-dialog-content>
  <h2 md-line>Created: </h2>
  <p >{{ data.created }}</p>
  <h2 md-line>Last modified: </h2>
  <p >{{ data.lastModified }}</p>
  <h2 md-line>Deleted: </h2>
  <p >{{ data.deleted }}</p>
  <h2 md-line>Owner: </h2>
  <p>{{ data.owner }}</p>
  <md-list>
    <md-list-item *ngFor="let change of changes">
      <p md-line>{{ change.title }}</p>
      <p md-line>{{ change.description }}</p>
      <p md-line>{{ change.userId }}</p>
    </md-list-item>
  </md-list>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-dialog-close md-raised-button>
    {{ 'close' | translate }}
    <md-icon>cancel</md-icon>
  </button>
</md-dialog-actions>
