<div class="top-content">
  <div class="valign">
    <md-card>
      <md-card-title>
        <h3>{{ 'remove subtags for'  | translate}} "{{tag.name}}"</h3>
      </md-card-title>
      <md-card-content>
        <div *ngIf="childrenTags.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ 'tag name' | translate }}</th>
                <th>{{ 'short name' | translate }}</th>
                <th>{{ 'desrcription' | translate }}</th>
                <th>{{ 'layer' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let child of childrenTags">
                <td>{{ child.name }}</td>
                <td>{{ child.shortName }}</td>
                <td>{{ child.description }} </td>
                <td>{{ child.layer }} </td>
                <td><button #myButton (click)="clicked(child.id, child.name)"  [disabled]="isDisabled(child.id)" md-raised-button color="primary">
                  {{ 'remove sub tag' | translate}}</button> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="childrenTags.length === 0" class="alert alert-success box-msg" role="alert">
          <strong>{{ 'no sub tags' | translate }}</strong>
        </div>  
      </md-card-content>
    </md-card>
  </div>
</div>
