
<md-card class="default-card absolute-card">
  <md-tab-group>
    <md-tab *ngFor="let menuItem of mainMenu" [label]="menuItem.label">
      <div class="flex">
        <hip-tag-menu-item [tag] = tag *ngFor="let tag of menuItem.entries"
                           [selectedTagId]="selectedTag.id"
                           (onTagClicked)="switchTag($event)"
                           (onVisibilityClicked)="changeRule($event)">
        </hip-tag-menu-item>
      </div>
    </md-tab>
  </md-tab-group>
</md-card>