.save {
  height: 50px;
}

.save md-icon {
  margin-left: 5px;
  vertical-align: text-bottom;
}

.add-topic-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.fill-add-topic {
  flex: 1 1 auto;
}
