<hip-topic-title *ngIf="topic.id === -1" [title]="('new topic' | translate)"></hip-topic-title>
<hip-topic-title *ngIf="topic.id !== -1" [title]="('edit details' | translate)"></hip-topic-title>
<hip-topic-input [(topic)]="topic" (fieldChange)="modelChanged($event)"></hip-topic-input>
<div class="add-topic-wrapper">
  <div class="fill-add-topic"></div>
  <button md-raised-button color="primary" (click)="saveTopic()"
          [disabled]="topic.title === '' || topic.description === '' || topic.deadline === '' || !canSave">
    {{ 'save topic' | translate }}
    <md-icon>save</md-icon>
  </button>
</div>
