<md-card class="default-card">
  <table>
    <thead>
      <tr>
        <th>{{ 'reviewers' | translate }}</th>
        <th>{{ 'Last modified' | translate  }}</th>
        <th>{{ 'status' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{ review.reviewer.email }}</td>
        <td *ngIf="review.timeStamp != '0001-01-01T00:00:00'">{{ review.timeStamp | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
        <td *ngIf="review.timeStamp == '0001-01-01T00:00:00'">{{ 'Never' | translate  }}</td>
        <td *ngIf="currentSupervisor.identity !== review.reviewer.identity">{{ review.status.status | translate }}</td>
        <td *ngIf="currentSupervisor.identity === review.reviewer.identity">
          <md-select class="select-review" [ngModel]="review.status.status" (ngModelChange)="selectReviewStatusOption($event)" [disabled]="isEnableStatusOption">
            <md-option *ngFor="let reviewStatus of reviewStatusOptions" [value]="reviewStatus">
              {{ reviewStatus | translate }}
            </md-option>
          </md-select>

          <button md-icon-button color="primary" (click)="editReviewStatus()" title="{{ 'edit' | translate }}"
                  *ngIf="!isEnableSaveButton && currentSupervisor.identity === review.reviewer.identity">
            <md-icon>edit</md-icon>
          </button>
          <button md-raised-button color="primary" (click)="updateReviewStatus()"
                  *ngIf="isEnableSaveButton && currentSupervisor.identity === review.reviewer.identity">
            {{'save' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</md-card>
