.user_card {
	height: 400px;
	max-width: 1024px;
	margin: 0 auto 10px 35px;
	max-width: 690px !important;
}

img {
	max-width: 210px;
	margin-top: 30px;
	border-radius: 50%;
}

#wrapper {
	width: 500px;
	overflow: hidden;
}

#first {
	width: 345px;
	float: left;
}

#second {
	float: left;
}

#upload-button {
	position: absolute;
	left: 210px;
}

#delete-button {
	position: absolute;
	left: 260px;
}

h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

md-card {
	height: 350px;
}
