<md-card class="default-card">
  <h1>{{ 'legal notice' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <md-card-content>
    <p>{{ 'hip platform of' | translate }}
      <br>{{ 'university name' | translate }}
      <br>Warburger Str. 100
      <br>33098 Paderborn
      <br><a href="https://www.uni-paderborn.de">www.uni-paderborn.de</a>
      <br>Tel.: +49 5251 60-0</p>
    <p>Die Universität Paderborn ist eine vom Land NRW getragene, rechtsfähige Körperschaft des Öffentlichen Rechts. Sie wird durch den Präsidenten vertreten.
      <br>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE 811209907
      <br>Zuständige Aufsichtsbehörde: Ministerium für Innovation, Wissenschaft, Forschung und Technologie (MIWFT) des Landes Nordrhein-Westfalen, Völklinger Str. 49, 40221 Düsseldorf</p>
    <p>Betrieb des HiP-Servers:
      <br>{{ 'university name' | translate }}
      <br>Software Innovation Campus Paderborn
      <br>Leitung: Prof. Dr. Gregor Engels
      <br>Verantwortlich für den Betrieb: Dr. Simon Oberthür</p>
    <p>Hinweise: HiP ist eine geschlossene Plattform, für deren Nutzung eine Zugangskennung vergeben werden muss.
      Für im System vorhandene externe Links und die darüber verfügbaren Inhalte übernehmen wir keine Haftung. Sie stellen kein Angebot der Universität Paderborn dar.
      Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
      Bei Fragen zum HiP-System schicken Sie bitte eine E-Mail an hip-app@campus.uni-paderborn.de oder rufen Sie Dr. Simon Oberthür unter der Nummer +49 5251 603358 an.</p>
  </md-card-content>
</md-card>
