build/
tmp/
bin/
dist/
docs/
node_modules/
bower_components/
vendor/
_test-output/
typings/
app/**/*.js
**/*.js.map
**/*.css.map
!app/**/*.e2e-spec.js
app/config.constant.ts
npm-debug.log
.idea
test_config/
tests/
.vscode/
