build/
tmp/
bin/
docs/
node_modules/
bower_components/
vendor/
_test-output/
app/**/*.js
**/*.js.map
**/*.css.map
app/**/*.e2e-spec.js
app/config.constant.ts
hip-config.json
npm-debug.log
.idea
.vscode/
hip-theme.css
hip-test-data.json
bundle.min.js
.tern-project
