{
  "authUrl": "http://127.0.0.1:5001",
  "authSecret": "MyFirstSecret",
  "cmsUrl": "http://127.0.0.1:5000",
  "docsUrl": "http://localhost",
  "docsIntegrationUrl": "http://localhost:3002",
  "featureToggleUrl": "http://localhost:3003",
  "mobileContentApiUrl": "http://localhost:3004"
}
