{
"authClientID": "IidSO1kO37UAAiPw1qwcy2AtZOuez4wM",
  "authDomain": "hip.eu.auth0.com",
  "authAudience": "https://hip.cs.upb.de/API",
  "authRedirectUri": "http://localhost:8080/dashboard",
  "tokenGenClientID": "1ET2agDhUwjGhePOojC6deCYuRYTEkit",
  "tokenGenClientSecret": "OPNsls99Kkk-UdLaXRRA5CS05sGJg7lWgZ8MQmtqXzTX0ypS6m79lMTUU_InI-9C",
  "cmsUrl": "https://docker-hip.cs.uni-paderborn.de/develop/cms-api",
  "userstore": "https://docker-hip.cs.uni-paderborn.de/develop/userstore",
  "docsUrl": "https://docs-hip.cs.uni-paderborn.de",
  "docsIntegrationUrl": "https://docs-hip.cs.uni-paderborn.de/hipcms-dev",
  "featureToggleUrl": "https://docker-hip.cs.uni-paderborn.de/develop/feature-toggle",
  "featureToggle":{"seminarContent":[8,16],"mobileContent":17},
  "mobileContentApiUrl": "https://docker-hip.cs.uni-paderborn.de/develop/datastore",
  "achievementApiUrl": "https://docker-hip.cs.uni-paderborn.de/develop/achievements",
  "thumbnailApiUrl": "https://docker-hip.cs.upb.de/develop/thumbnailservice",
  "googleMapsApiKey": "AIzaSyAGpVhncb65XwBrV_yWK8RHWcydDsLWCH4",
  "defaultLatitude": 51.718990,
  "defaultLongitude": 8.754736
}
