{
  "authClientID": "IidSO1kO37UAAiPw1qwcy2AtZOuez4wM",
  "authDomain": "hip.eu.auth0.com",
  "authAudience": "https://hip.cs.upb.de/API",
  "authRedirectUri": "http://localhost:8080/dashboard",
  "cmsUrl": "https://docker-hip.cs.uni-paderborn.de/develop/cms-api",
  "docsUrl": "https://docs-hip.cs.uni-paderborn.de",
  "docsIntegrationUrl": "https://docs-hip.cs.uni-paderborn.de/hipcms-dev",
  "featureToggleUrl": "https://docker-hip.cs.uni-paderborn.de/develop/feature-toggle",
  "mobileContentApiUrl": "https://docker-hip.cs.uni-paderborn.de/develop/datastore"
}