* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Master Styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #C7C9C7;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}

h2, h3 {
  color: #00205B;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}

a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

.default-card {
  max-width: 1024px;
  margin: 0 auto 10px;
}

.md-primary {
  background: #00205B !important;
}

/**
* Use this file for common styles only.
* For styles for a specific angular 2 module
* create an extra file in the module folder
**/

.md-radio-checked .md-radio-outer-circle {
  border-color: #00205B !important;
}

.md-radio-checked .md-radio-inner-circle {
  background: #00205B !important;
}

.md-focused {
  color: #00205B !important;
}

.md-input-underline .md-focused {
  background-color: #00205B !important;
}

md-spinner path {
  stroke: #00205B !important;
}

.tag__remove-button {
    margin-top:12px !important;
}