<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <!-- <div class="row"> -->
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <!--  <h3>Register Here</h3> -->
            <h3>Enter your details to Register</h3>
          </div>
        </div>
        <div class="form-bottom">
          <form [ngFormModel]="registrationForm" (ngSubmit)="signup(email.value, password.value,confirmPassword.value)">
            <div *ngIf="errorMessage" class="alert alert-danger">
                <span>Username is already taken</span>
            </div>
            <div class="form-group">
              <label class="sr-only" for="email"></label>
              <input required class="form-control" type="email" id="email" ngControl="email" placeholder="Email..."
                     #email="ngForm">
            </div>
            <div *ngIf="email.touched && email.errors">
              <div *ngIf="email.errors.required" class="alert alert-danger">
                <span>Email is required</span>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="password"></label>
              <input required class="form-control" type="password" id="password" placeholder="Password..."
                     ngControl="password" #password="ngForm">
            </div>
            <div *ngIf="password.touched && password.errors">
              <div *ngIf="!password.errors.required && password.errors.passwordLengthIncorrect"
                   class="alert alert-danger">
                <span>Password should contain 6 characters</span>
              </div>
              <div
                *ngIf="!password.errors.required && !password.errors.passwordLengthIncorrect && password.errors.pattern"
                class="alert alert-danger">
                <span>Password should contain atleast one digit, one upper case, one lower case and one special case character</span>
              </div>
              <div *ngIf="password.errors.required" class="alert alert-danger">
                <span>Password is required</span>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="confirmPassword"></label>
              <input required class="form-control" type="password" id="confirmPassword" placeholder="Retype password..."
                     ngControl="confirmPassword" #confirmPassword="ngForm"
                     (mouseleave)="onclick(password,confirmPassword)">
            </div>
            <div *ngIf="confirmPassword.touched && confirmPassword.errors">
              <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">
                <span>Password is required</span>
              </div>
            </div>
            <div *ngIf="isError" class="alert alert-danger">
              <span>Password and Confirm Password do not match</span>
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <br><br>
            Already member? <a [routerLink]="['/login']">Click here to Log in</a>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
