<md-card class="default-card">
  <h2>{{ 'contact' | translate }}</h2>
  <md-card-content>
     <div class="ui raised segment">
       <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)" class="ui form" action="MAILTO:hip-app@campus.upb.de?Subject=Message%20from%20HiP%20CMS" method="POST" enctype="text/plain">
            <div class="field">
              <label for="Name">Name:</label>
              <input type="text"
                   id="Name"
                   placeholder="Enter Your Name"
                   name="Sender" ngModel
                   required>
            </div>
            <p></p>
            <div class="field">
              <label for="email">Email:</label>
              <input type="text"
                     id="email"
                     placeholder="Enter Your Email"
                     name="Email" ngModel
                     required/>
            </div>
            <p></p>
            <textarea name="Message" ng-model="Message" required md-maxlength="50" cols="120" rows="10"
                   placeholder="Enter Your Message here"></textarea>
            <p></p>
            <button type="submit" class="ui button">Submit</button>
            <button type="reset" class="ui button">Reset</button>
       </form>
     </div>
  </md-card-content>
</md-card>
