#details-form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

#details-form md-select {
  position: relative;
  top: -1px;
}

.image-file-name {
  margin: 0 2em;
}

.tags{
  padding-bottom: 10px;
}
.endbuttons{
  padding-bottom: 3px;
}
agm-map {
  height: 250px;
}