<md-card class="default-card">
  <h1>{{ 'edit exhibit' | translate }}: {{ exhibit.name }}</h1>
</md-card>

<md-card class="default-card">
  <md-tab-group>
    <!-- Edit exhibit details -->
    <md-tab label="{{ 'details' | translate }}">
      <form id="details-form">
        <md-input-container>
          <input mdInput placeholder="{{ 'name' | translate }}" [(ngModel)]="exhibit.name" name="name">
        </md-input-container>

        <md-input-container>
          <textarea
            mdInput
            mdTextareaAutosize
            #autosize="mdTextareaAutosize"
            placeholder="{{ 'description' | translate }}"
            [(ngModel)]="exhibit.description"
            name="desc"></textarea>
        </md-input-container>

        <div>
          <md-input-container>
            <input mdInput
                   placeholder="{{ 'latitude' | translate }}" [(ngModel)]="exhibit.latitude" name="lat">
          </md-input-container>
          <md-input-container>
            <input mdInput
                   placeholder="{{ 'longitude' | translate }}" [(ngModel)]="exhibit.longitude" name="long">
          </md-input-container>
          <md-select placeholder="{{ 'status' | translate }}" [(ngModel)]="exhibit.status" name="status">
            <md-option *ngFor="let statusOption of statusOptions" [value]="statusOption">{{ statusOption | translate }}</md-option>
          </md-select>
        </div>

        <div>
          <span>{{ 'image' | translate }}:</span>
          <span class="image-file-name">{{ imageName }}</span>
          <img class="image-size" [src]= "url" *ngIf="url" alt="Image preview">
          <button md-icon-button color="primary" title="{{ 'select image' | translate }}" (click)="selectImage()">
            <md-icon>add_a_photo</md-icon>
          </button>
          <button md-icon-button color="warn" title="{{ 'unset' | translate }}" (click)="removeImage()">
            <md-icon>close</md-icon>
          </button>
        </div>
        <h2>{{ 'tags' | translate }}</h2>
        <tag-input class="tags" name="tags" [(ngModel)]="tags" [onlyFromAutocomplete]="true"
                   (ngModelChange)="updateData()"
                   [placeholder]="tagPlaceholder | translate"
                   [maxItems]="maxItems">
          <tag-input-dropdown  [autocompleteObservable]="requestAutoCompleteItems">
          </tag-input-dropdown>
        </tag-input>
      </form>
      <div class="endbuttons" align="end">
        <button md-raised-button routerLink="/exhibits">
          {{ 'cancel' | translate }}
          <md-icon>cancel</md-icon>
        </button>
        <button md-raised-button color="primary" (click)="editExhibit(exhibit)">
          {{ 'save' | translate }}
          <md-icon>save</md-icon>
        </button>
      </div>
    </md-tab>

    <!-- Edit mobile pages -->
    <md-tab label="{{ 'mobile pages' | translate }}">
      <hip-edit-exhibit-pages [exhibitId]="id"></hip-edit-exhibit-pages>
    </md-tab>
  </md-tab-group>
</md-card>
