<div class="user-search">
  <md-input-container>
    <input md-input placeholder="{{ 'search...' | translate }}" [(ngModel)]="query">
  </md-input-container>
  <button md-icon-button [disabled]="query.trim().length < 1" (click)="resetSearch()">
    <md-icon>close</md-icon>
  </button>
  <button md-icon-button [disabled]="query.trim().length < 1" (click)="resetList()">
    <md-icon>search</md-icon>
  </button>

  <md-select [(ngModel)]="selectedRole" (ngModelChange)="resetList()" placeholder="{{ 'only show role' | translate }}">
    <md-option *ngFor="let role of roles" [value]="role">
      {{ role | translate }}
    </md-option>
  </md-select>
</div>

<table class="user-list">
  <thead>
    <tr>
      <th (click)="sort('lastName')">{{ 'last name' | translate }}</th>
      <th (click)="sort('firstName')">{{ 'first name' | translate }}</th>
      <th (click)="sort('email')">{{ 'email' | translate }}</th>
      <th (click)="sort('role')">{{ 'role' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users
              | hipUsersSorter: key: direction
              | paginate: { id: 'server', itemsPerPage: usersPerPage, currentPage: currentPage, totalItems: totalUsers }">
      <td>{{ user.lastName }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role | translate }}</td>
      <td>
        <button md-icon-button [routerLink]="[ '/edit-user', user.identity ]">
          <md-icon>edit</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<hip-pagination (pageChange)="getPage($event)"></hip-pagination>
