<md-card class="default-card">
  <h1>{{ 'text annotation' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <md-button-toggle-group name="mode" [(ngModel)]="mode">
    <md-button-toggle value="annotate">{{ 'Annotate' | translate }}</md-button-toggle>
    <md-button-toggle value="relations">{{ 'add Relations' | translate }}</md-button-toggle>
  </md-button-toggle-group>

  <md-tab-group *ngIf="mode==='annotate'">
    <md-tab *ngFor="let menuItem of mainMenu" [label]="menuItem.label">
      <button md-button *ngFor="let tag of menuItem.entries" (click)="switchTag(tag)" [ngStyle]="highlightButton(tag)">
        {{ tag.name }}
      </button>
    </md-tab>
  </md-tab-group>
</md-card>
<md-card class="default-card">
  <svg #svg id="svg-canvas" style="position:absolute;top:0;left:0;pointer-events: none;"
       xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  <div (mouseup)="handleSelect()" (click)=handleClick($event) id="text" #content [innerHtml]="annotateContent" >
  </div>
</md-card>
