<div class="row">
    <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="query">
    </div>
    <div class="col-xs-2">
        <select class="form-control">
            <option *ngFor="let option of options" [selected]="option == 'Email'">{{option}}</option>
        </select>
    </div>
</div>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('lastName')">Last Name</th>
            <th (click)="sort('firstName')">First Name</th>
            <th (click)="sort('email')">Email</th>
            <th (click)="sort('role')">Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of _items | async | usersFilter: query: option | usersSorter: key: direction
            | paginate: { id: 'server', itemsPerPage: 10, currentPage: _page, totalItems: _total }">
            <td>{{user.lastName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>
                <select class="btn btn-default dropdown-toggle" (change)="changeRole($event.target.value, user)">
                    <option *ngFor="let role of roles" [selected]="role == user.role">{{role}}</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>

<pagination-controls #p (pageChange)="getPage($event)" id="server" class="pagination">
</pagination-controls>


