h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #de615e;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #de615e;
  color: #fff;
  text-shadow: none;
}

.right {
  position: relative;
  width: 100%;
}

.right button {
  position: absolute;
  right: 0;
}

md-card {
  max-width: 1024px;
  padding: 15px;
}

md-card-title {
  padding-left: 10px;
  border-bottom: 2px solid #00205B;
}

.valign {
  padding-top: 40px;
}

.form-wrap {
  margin: 0 20px;
}

md-input {
  width: 100%;
  margin-left: 30px;
}

.top-content {
  background: #C7C9C7 no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: -70px;
}

.error-hint {
  color: red;
}

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

md-spinner {
  margin: 100px auto auto;
}

.Image {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  padding: 15px;
  float: none;
}

.chooseFile {
  margin-top: 10px
}

.uploadedImage {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 15px;
  float: none;  
}

.uploadButton {
  margin-top: 15px;
  margin-right: -25px;
  margin-left: 30px;
}
