<div class="top-content">
  <div class="valign">
    <md-card>
      <md-card-title>
        <h3>{{'manage profile' | translate}}</h3>
      </md-card-title>
      <md-card-content>
        <md-grid-list cols="5">
          <md-grid-tile>
            <div>
              <md-card class="Image"></md-card>
              <button md-raised-button color="primary" class="uploadButton">{{'upload picture' | translate}}</button>
            </div>
          </md-grid-tile>
          <md-grid-tile [colspan]="5">
            <div class="form-wrap">
              <form novalidate (ngSubmit)="updateUserInfo()" #userinfo="ngForm">
                <div *ngIf="errorMessage" class="alert alert-danger">
                  <span>{{ errorMessage }}</span>
                </div>
                <md-input [(ngModel)]="currentUser.email" disabled type="text" placeholder="{{'Your Current Email is' | translate}}"
                          #Email="ngModel" name="Email">
                </md-input>
                <md-input [(ngModel)]="currentUser.firstName" type="text" placeholder="{{'Enter Your First Name' | translate}}"
                          #FirstName="ngModel" name="FirstName">
                </md-input>
                <md-input [(ngModel)]="currentUser.lastName" type="text" placeholder="{{'Enter Your Last Name' | translate}}"
                          #LastName="ngModel" name="LastName">
                </md-input>
                <div class="right">
                  <button type="submit" md-raised-button
                          color="primary">{{'save changes' | translate}}
                  </button>
                  <br><br>
                </div>
              </form>
              <form novalidate (ngSubmit)="changePassword()" #changepass="ngForm">
                <div *ngIf="errorMessage" class="alert alert-danger">
                  <span>{{ errorMessage }}</span>
                </div>
                <md-input [(ngModel)]="user.oldPassword" required minlength="6" type="password"
                          placeholder="{{'password prompt current' | translate}}"
                          pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/"
                          #oldPassword="ngModel" name="oldPassword">
                </md-input>
                <md-input [(ngModel)]="user.newPassword" required minlength="6" type="password"
                          placeholder="{{'password prompt new' | translate}}"
                          pattern="(?=^.{6,255}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*"
                          #newPassword="ngModel" name="newPassword" validateEqual="confirmPass" reverse="true">
                  <md-hint
                    [hidden]="newPassword.valid || (newPassword.pristine && !changepass.submitted) || user.newPassword.length == 0"
                    class="error-hint">
                    <span *ngIf="user.newPassword.length < 6">{{'password length' | translate}}</span>
                    <span
                      *ngIf="user.newPassword.length > 5 && !passwordValid()">{{'password invalid' | translate}}</span>
                  </md-hint>
                </md-input>
                <md-input [(ngModel)]="user.confirmPass" required type="password" name="confirmPass"
                          placeholder="{{'password retype...' | translate}}"
                          pattern="(?=^.{6,255}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*"
                          validateEqual="newPassword" reverse="true"
                          #confirmPass="ngModel">
                  <md-hint [hidden]="confirmPass.valid || (confirmPass.pristine && !changepass.submitted)"
                           class="error-hint">
                      <span
                        *ngIf="user.confirmPass !== user.newPassword">{{'password match' | translate}}</span>
                  </md-hint>
                </md-input>
                <div class="right">
                  <button type="submit" [disabled]="user.confirmPass !== user.newPassword" md-raised-button
                          color="primary">{{'save changes' | translate}}
                  </button>
                  <br><br>
                </div>
              </form>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
    </md-card>
  </div>
</div>
