<md-card class="default-card">
  <md-card-title>
    <h3>Manage Profile</h3>
  </md-card-title>
  <md-card-content>
    <md-grid-list cols="3" rowHeight="25em">
      <md-grid-tile>
        <hip-upload-picture></hip-upload-picture>
      </md-grid-tile>
      <md-grid-tile [colspan]="2">
        <div class="form-wrap">
          <form novalidate (ngSubmit)="changePassword()" #changepass="ngForm">
            <div *ngIf="errorMessage" class="alert alert-danger">
              <span>{{ errorMessage }}</span>
            </div>
            <md-input [(ngModel)]="user.oldPassword" required minlength="6" type="password"
            placeholder="Enter Current Password..."
            pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/"
            #oldPassword="ngModel" name="oldPassword">
          </md-input>
          <md-input [(ngModel)]="user.newPassword" required minlength="6" type="password"
          placeholder="Enter New Password..."
          pattern="(?=^.{6,255}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*"
          #newPassword="ngModel" name="newPassword" validateEqual="confirmPass" reverse="true">
          <md-hint
          [hidden]="newPassword.valid || (newPassword.pristine && !changepass.submitted) || user.newPassword.length == 0"
          class="error-hint">
          <span *ngIf="user.newPassword.length < 6">Password should contain 6 characters</span>
          <span *ngIf="user.newPassword.length > 5 && !passwordValid()">Password should contain at least one digit,
            one upper case, one lower case and one special case character</span>
          </md-hint>
        </md-input>
        <md-input [(ngModel)]="user.confirmPass" required type="password" name="confirmPass"
        placeholder="Retype password..."
        pattern="(?=^.{6,255}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*"
        validateEqual="newPassword" reverse="true"
        #confirmPass="ngModel">
        <md-hint [hidden]="confirmPass.valid || (confirmPass.pristine && !changepass.submitted)"
        class="error-hint">
        <span
        *ngIf="user.confirmPass !== user.newPassword">Password and Confirm Password do not match</span>
      </md-hint>
    </md-input>
    <div class="right">
      <button type="submit" [disabled]="user.confirmPass !== user.newPassword" md-raised-button
      color="primary">Save Changes
    </button>
    <br><br>
  </div>
</form>
</div>
</md-grid-tile>
</md-grid-list>
</md-card-content>
</md-card>

