<md-card class="default-card">
  <h1>{{ 'invite users' | translate}}</h1>
</md-card>
<md-card class="default-card">
  <div>
    <md-hint class="error-hint">
      <span *ngIf = "isError">
        Please remove following emails:
        <span *ngFor = "let errorItem of errorItems">
          <div>{{errorItem}}</div>
        </span>
      </span>
    </md-hint>
    <tag-input [ngModel]="emails"
               separatorKeys="[32]"
               (onRemove)="onRemove($event)"
            	 (onAdd)="onAdd($event)"
               [transform]="validateEmail"
               [secondaryPlaceholder] ="('Enter email ids' | translate)"
               [placeholder]="('+ Email')">
    </tag-input>
  </div>
</md-card>
<div class="send-invite-wrapper">
  <div class="fill-send-invite"></div>
  <button md-raised-button color="primary" class="save" [disabled] = "!canSend"
          (click)="sendInvite()">{{'send invitation' | translate}}
  </button>
</div>
