.add-topic-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.fill-send-invite {
  flex: 1 1 auto;
}

.search-bar {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.search-input {
  flex-grow: 1;
}
