md-nav-list {
    margin-top: 10px;
}

.add-fab {
    margin-top: auto;
    margin-right: 20px;
}

p.add-fab {
    margin-top: auto;
    margin-right: 70px;
}

.userImagethumb{
    height: 40px;
    vertical-align: middle;
    border-radius: 20px;
    margin-right: 5px;
  }

.fill-span {
    flex: 1 1 auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.status-span {
    margin-left: 10px;
}
