<div *ngIf="exhibit" class="container">
    <div class="left">
        <h1>{{ exhibit.name }}</h1>
    </div>
    <span class="fill-span"></span>
    <button class="add-fab" md-mini-fab (click)="onAddReviewClicked()" id="create-button" title="{{ 'add a review' | translate }}">
        <md-icon>add</md-icon>
    </button>
</div>

<div *ngIf="exhibit" class="container">
    <div class="left">
        <p class="add-fab">{{ exhibit.description }}</p>
    </div>
</div>

<div class = "container">
    <div class="left">
        <h3>Review</h3>
    </div>
</div>

<md-nav-list>
    <md-list-item *ngIf="review">
        <div class = "userDetails">
        <img *ngIf="previewedImage" class="userImagethumb" [src]="previewedImage">
        <span class = "caption">{{ fullName }}</span>
        </div>
        <span class = "description"><i>{{ review.description }}</i></span>
        <span class="status-span">({{ review.status | translate }})</span>
        <span class="fill-span"></span>
        <button md-icon-button color="primary" class="button" *ngIf="reviewableUserFlag || currentUserCanAdmin" (click)="onUpdateReviewClicked(review)" title="{{ 'approve' | translate }}">
            <md-icon>thumb_up</md-icon>
        </button>
        <button md-icon-button color="primary" class="button" (click)="onReviewCommentClicked(review)" title="{{ 'comment' | translate }}">
            <md-icon>comment</md-icon>
        </button>
        <button md-icon-button color="primary" class="button" *ngIf="reviewCreatorFlag" (click)="onUpdateReviewClicked(review)" title="{{ 'edit' | translate }}">
            <md-icon>edit</md-icon>
        </button>
        <button md-icon-button color="warn" class="button" *ngIf="reviewCreatorFlag || currentUserCanAdmin" (click)="onDeleteReviewClicked(review)" title="{{ 'delete' | translate }}">
            <md-icon>delete_forever</md-icon>
        </button>
    </md-list-item>
</md-nav-list>