<md-card class="default-card">
  <h1>{{ 'my notifications' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <div class="notification-search">
    <md-input class="grow-width" type="text" placeholder="{{'search...' | translate}}" [(ngModel)]="query"></md-input>
  </div>
  <div class="filter-sort">
    <span class="bg-info info">FILTER BY:</span>
    <select (change)="selectStatus($event.target.value)">
      <option [selected]="selectedStatus == 'all'" value="all">
        {{ 'Notification status' | translate }}
      </option>
      <option *ngFor="let statusOption of notificationStatusOptions" [selected]="statusOption == selectedStatus"
              value="{{statusOption}}">
        {{ statusOption | translate }}
      </option>
    </select>
    <select (change)="selectNotificationType($event.target.value)">
      <option [selected]="selectedNotificationType == 'all'" value="all">
        {{ 'Notification type' | translate }}
      </option>
      <option *ngFor="let notificationType of notificationTypes"
              [selected]="notificationType == selectedNotificationType" value="{{ notificationType }}">
        {{ notificationType | translate }}
      </option>
    </select>
    <span class="bg-info info sort-field" (click)="sort('timestamp')">
    SORT BY: {{ 'Date' | translate }}
  </span>
  </div>
  <div class="bg-info info" *ngIf="!notificationsResponseHandled">
    {{ 'loading your notifications' | translate }}
  </div>
  <div class="info" *ngIf="notifications.length == 0 && notificationsResponseHandled">
    {{ 'no notifications for you' | translate }}
  </div>
  <hip-notifications-list [notifications]="notifications" [query]="query" [selectedStatus]="selectedStatus"
                          [selectedNotificationType]="selectedNotificationType" [direction]="direction"
                          [key]="key"></hip-notifications-list>
</md-card>