<md-card class="default-card">
  <h1>{{ 'my notifications' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <div class="filter-options" *ngIf="notifications.length != 0">
    <span>{{ 'FILTER BY' | translate }}</span>
    <md-select [(ngModel)]="selectedStatus" placeholder="Status">
      <md-option *ngFor="let statusOption of notificationStatusOptions" [value]="statusOption">
        {{ statusOption | translate }}
      </md-option>
    </md-select>
    <md-select [(ngModel)]="selectedNotificationType" placeholder="Notification type">
      <md-option *ngFor="let notificationType of notificationTypes" [value]="notificationType">
        {{ notificationType | translate }}
      </md-option>
    </md-select>
  </div>
  <div class="bg-info info" *ngIf="!notificationsResponseHandled">
    {{ 'loading your notifications' | translate }}
  </div>
  <div class="info" *ngIf="notifications.length == 0 && notificationsResponseHandled">
    {{ 'no notifications for you' | translate }}
  </div>
  <hip-notifications-list
      [notifications]="notifications | hipNotificationsFilter: selectedStatus: selectedNotificationType"></hip-notifications-list>
</md-card>
