<md-card class="default-card">
  <h1>{{ 'edit tag' | translate }}: {{ tag.title }} (ID {{ tag.id }})</h1>
</md-card>

<md-card class="default-card">
  <md-input-container class="grow-width">
    <input mdInput placeholder="{{ 'title' | translate }}" [(ngModel)]="tag.title" required>
  </md-input-container>
  <md-input-container class="grow-width">
     <textarea
       mdInput
       mdTextareaAutosize
       #autosize="mdTextareaAutosize"
       placeholder="{{ 'description' | translate }}"
       [(ngModel)]="tag.description"
       name="desc"></textarea>
  </md-input-container>

  <md-select placeholder="{{ 'status' | translate }}" [(ngModel)]="tag.status" name="status">
    <md-option *ngFor="let statusOption of statusOptions" [value]="statusOption">{{ statusOption | translate }}</md-option>
  </md-select>

  <div class="file-selection">
    <span>{{ 'image' | translate }}:</span>
    <span class="image-file-name">{{ selectedImage }}</span>
    <img class="image-size" *ngIf="previewURL" [src]="previewURL" alt="{{ 'image preview' | translate }}">
    <button md-icon-button color="primary" title="{{ 'select image' | translate }}" (click)="selectMedium('Image')">
      <md-icon>add_a_photo</md-icon>
    </button>
    <button md-icon-button color="warn" title="{{ 'unset' | translate }}" (click)="unsetMedium()">
      <md-icon>close</md-icon>
    </button>
  </div>

  <md-card-actions align="end">
    <button routerLink="/mobile-content/tags" md-raised-button>
      {{ 'cancel' | translate }}
      <md-icon>cancel</md-icon>
    </button>
    <button md-raised-button [disabled]="!tag.isValid()" color="primary" (click)="editTag(tag)">
      {{ 'save' | translate }}
      <md-icon>save</md-icon>
    </button>
  </md-card-actions>
</md-card>
