<md-card class="default-card">
    <h1>{{ 'achievements' | translate }}</h1>
</md-card>

<md-card class="default-card">
    <div id="achievement-search">
        <md-input-container>
            <input mdInput placeholder="{{ 'search...' | translate }}" [(ngModel)]="searchQuery" (ngModelChange)="findAchievements()">
        </md-input-container>

        <button md-icon-button *ngIf="showingSearchResults" (click)="resetSearch()" title="{{ 'reset search' | translate }}">
            <md-icon>close</md-icon>
        </button>

        <button md-icon-button color="primary" [disabled]="searchQuery.trim().length < 1" (click)="findAchievements()" title="{{ 'search' | translate }}">
            <md-icon>search</md-icon>
        </button>

        <md-select [(ngModel)]="selectedStatus" (ngModelChange)="reloadList()" placeholder="{{ 'filter by status' | translate }}">
            <md-option *ngFor="let status of statuses" [value]="status">
                {{ status | translate }}
            </md-option>
        </md-select>

        <md-select [(ngModel)]="selectedType" (ngModelChange)="reloadList()" placeholder="{{ 'filter by type' | translate }}">
            <md-option *ngFor="let type of types" [value]="type">
                {{ type | translate }}
            </md-option>
        </md-select>

        <button md-mini-fab (click)="createExhibit()" id="create-button" title="{{ 'create achievement' | translate }}">
                <md-icon>add</md-icon>
        </button>
    </div>

    <md-list>
        <md-list-item *ngFor="let achievement of achievements">
            <img md-list-avatar *ngIf="previewsLoaded && previews.has(achievement.id); else achievementIcon"
            [src]="previews.get(achievement.id)" alt="{{ 'image preview' | translate }}"
            [ngStyle]="{'width.px': 48, 'height.px': 48}">
            <ng-template #achievementIcon>
                    <md-icon md-list-icon class="achievement-icon" [ngStyle]="{'font-size.px': 40, 'height.px': 40, 'width.px': 40}">star</md-icon>
            </ng-template>

            <h2 md-line>{{ achievement.title }} ({{ achievement.status | translate }})</h2>
            <p md-line>{{ achievement.description }}</p>
            <p md-line>{{ 'type' | translate}}: {{ achievement.type | translate }}</p>
            <p md-line>{{ 'points' | translate}}: {{ achievement.points }}</p>

            <button md-icon-button color="primary" [routerLink]="['/mobile-content/achievements/edit', achievement.id]" title="{{ 'edit' | translate }}">
                <md-icon>edit</md-icon>
            </button>

            <button md-icon-button color="warn" click="" title="{{ 'delete' | translate }}">
                <md-icon>delete_forever</md-icon>
            </button>
        </md-list-item>
        <hip-pagination (pageChange)="getPage($event)" *ngIf="achievements !== undefined && achievements.length > 0"></hip-pagination>
    </md-list>
</md-card>