md-dialog-content {
    height: 300px;
}

input {
    width: 400px;
}

.question-input {
    margin-bottom: 30px;
}

.right-input {
    color: green;
}

.review-input {
    width: 100%;
}

.reviewable-by-students {
    width: 50%;
}

.image-size{
    height: 65px;
    width: 106px;
    position: relative;
    top: 6px;
}

.image-container{
    height: 65px;
    width: 106px;
}