.container:before, .container:after
{
  content: "";
  display: table;
}

.container:after
{
  clear: both;
}

.container
{
  zoom: 1;
}
  
  .image-size{
    height: 65px;
    width: 106px;
    position: relative;
    top: 6px;
  }

  .horizontal-div{
    display: inline-block;
    margin-right: 20px;
  }

  .left {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 50%;
  }

  .right {
    display: block;
    float: right;
    box-sizing: border-box;
    width: 50%;
  }

  agm-map {
    height: 300px;
  }

  img{
    width:80%;
    float:right;
  }