<div class="grow-width two-columns">
  <md-select placeholder="{{ 'attachment type' | translate }}"
             [(ngModel)]="attachment.metadata.type" (ngModelChange)="typeChanged()">
    <md-option *ngFor="let attachmentType of attachmentTypes" [value]="attachmentType">
      {{ attachmentType | translate }}
    </md-option>
  </md-select>
  <md-select *ngIf="attachment.hasSubType()"
             placeholder="{{ attachment.getLabelForSubtype() | translate }}" [(ngModel)]="attachment.metadata.subType">
    <md-option *ngFor="let subTypeOption of attachmentSubTypes" [value]="subTypeOption">
      {{ subTypeOption | translate }}
    </md-option>
  </md-select>
</div>
<md-input class="grow-width" required
          placeholder="{{ attachment.getLabelForTitle() | translate }}" [(ngModel)]="attachment.title">
  <md-hint [class.hidden]="attachment.isTitleValid()" class="error-hint">
    {{ 'title required' | translate }}
  </md-hint>
</md-input>
<md-input class="grow-width"
          placeholder="{{ 'more information' | translate }}" [(ngModel)]="attachment.metadata.details">
</md-input>
<md-input *ngIf="attachment.canHavePhotographer()" class="grow-width"
          placeholder="{{ 'photographer' | translate }}" [(ngModel)]="attachment.metadata.photographer">
</md-input>
<md-input *ngIf="attachment.canHaveCreator()" class="grow-width"
          placeholder="{{ attachment.getLabelForCreator() | translate }}" [(ngModel)]="attachment.metadata.creator">
</md-input>
<md-input class="grow-width" placeholder="{{ 'material' | translate }}" [(ngModel)]="attachment.metadata.material">
</md-input>
<div class="grow-width four-columns">
  <md-input *ngIf="attachment.canHaveHeightAndWidth()" placeholder="{{ 'height' | translate }}"
            type="number" [(ngModel)]="attachment.metadata.height">
  </md-input>
  <md-input *ngIf="attachment.canHaveHeightAndWidth()" placeholder="{{ 'width' | translate }}"
            type="number" [(ngModel)]="attachment.metadata.width">
  </md-input>
  <md-input *ngIf="attachment.canHaveDepth()" placeholder="{{ 'depth' | translate }}"
            type="number" [(ngModel)]="attachment.metadata.depth">
  </md-input>
  <md-select *ngIf="attachment.canHaveHeightAndWidth() || attachment.canHaveDepth()" id="unit-select"
             placeholder="{{ 'unit of length' | translate }}" [(ngModel)]="attachment.metadata.unit">
    <md-option *ngFor="let unitOption of units" [value]="unitOption">
      {{ unitOption | translate }}
    </md-option>
  </md-select>
</div>
<md-input *ngIf="attachment.canHaveDate()" class="grow-width"
          placeholder="{{ attachment.getLabelForDate() | translate }}" [(ngModel)]="attachment.metadata.date">
</md-input>
<md-input class="grow-width"
          placeholder="{{ attachment.getLabelForDate2() | translate }}" [(ngModel)]="attachment.metadata.date2">
</md-input>
<md-input class="grow-width" placeholder="{{ 'source' | translate }}" [(ngModel)]="attachment.metadata.source" required>
  <md-hint [class.hidden]="attachment.isSourceValid()" class="error-hint">
    {{ 'source required' | translate }}
  </md-hint>
</md-input>
<md-input class="grow-width"
          placeholder="{{ 'copyright' | translate }}" [(ngModel)]="attachment.metadata.copyright">
</md-input>
<md-input *ngIf="attachment.canHaveLocation()" class="grow-width"
          placeholder="{{ 'location' | translate }}" [(ngModel)]="attachment.metadata.location">
</md-input>
<md-input *ngIf="attachment.canHaveRepositoryAndSignature()" class="grow-width"
          placeholder="{{ 'repository' | translate }}" [(ngModel)]="attachment.metadata.location">
</md-input>
<md-input *ngIf="attachment.canHaveRepositoryAndSignature()" class="grow-width"
          placeholder="{{ 'signature' | translate }}" [(ngModel)]="attachment.metadata.signature">
</md-input>
<md-input *ngIf="attachment.canHavePage()" class="grow-width"
          placeholder="{{ 'page' | translate }}" type="number" [(ngModel)]="attachment.metadata.page">
</md-input>
<md-input *ngIf="attachment.canHavePointOfOrigin()" class="grow-width"
          placeholder="{{ 'point of origin' | translate }}" [(ngModel)]="attachment.metadata.pointOfOrigin">
</md-input>
<md-input *ngIf="attachment.canHavePlaceOfManufacture()" class="grow-width"
          placeholder="{{ 'place of manufacture' | translate }}" [(ngModel)]="attachment.metadata.placeOfManufacture">
</md-input>
<md-input *ngIf="attachment.canHaveDetailedPosition()" class="grow-width"
          placeholder="{{ attachment.getLabelForDetailedPosition() | translate }}" [(ngModel)]="attachment.metadata.detailedPosition">
</md-input>
