 <div class="flex-item subtopics">
 	<span class="iconNoChild" *ngIf="getIcon===''">&#9632;</span>
 	<span class="iconButton" (click)="toggle()">{{getIcon}}</span>
 	<a class = "title" md-line [routerLink]="['/topics', topic.id]">{{topic.title}}</a>
 	<span class="flex-item countSubtopics">{{countSubtopics}}</span>
 </div>
 <div *ngIf="expanded" >
 	<ul class="allTopics">
 		<md-list-item *ngFor="let topic of topics; let i=index">
 			<div *ngIf = "i <= cnountLoadChildren"> 
 				<div *ngIf = "i < cnountLoadChildren">
 					<hip-treeview [topic]="topic"></hip-treeview>
 				</div>
 				<div *ngIf = "i == cnountLoadChildren">
		<!--  			Need to populate subTopics dynamically, using pagination -->
  					<a class = "title" md-line (click) = "loadChildren()">{{'Load More' | translate}}</a>
 				</div>
 			</div>
 		</md-list-item>
 	</ul>
 </div> 