<md-toolbar color="primary">
  <div class="margin-right" *ngIf="!loggedIn"></div>
  <button md-button #mybutton (click)="start.toggle()" *ngIf="(!sidenavOpened && loggedIn)">
    <md-icon class="menu-button">menu</md-icon>
  </button>
  <a href="/" class="logo"><span>  </span></a>
  <span class="fill-remaining-space"></span>
  <span class="toolbar-element clickable" (click)="toggleLang()">
    <div class="world-icon">
      <md-icon>language</md-icon>
    </div>
    <div class="lang-list">
      <span class="lang" *ngFor="let lang of languages"
            [ngClass]="{langActive: lang.active}">
        {{lang.short}}
      </span>
    </div>
  </span>
  <div class="dropdown toolbar-element notification" *ngIf="loggedIn">
    <a class="dropdown-toggle" type="button" id="dropdownNotifications"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span>{{notifications.length}}</span>
      <md-icon>chat_bubble_outline</md-icon>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownNotifications">
      <li *ngFor="let notification of notifications">
        <a [routerLink]="[ notification.link ]">
          <h3>
            {{notification.title}}
          </h3>
          <span>{{notification.message}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown toolbar-element" *ngIf="loggedIn">
    <a class="dropdown-toggle" type="button" id="dropdownProfile"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <div class="row-picture">
        <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon"/>
      </div>
      <span class="profile-name">Anna</span>
      <md-icon>arrow_drop_down</md-icon>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownProfile">
      <li><a href="#">
        <h2>
          <md-icon>message</md-icon>
          My Messages
        </h2>
      </a></li>
      <li><a href="#">
        <h2>
          <md-icon>library_books</md-icon>
          My Topics
        </h2>
      </a></li>
      <li><a href="#">
        <h2>
          <md-icon>person</md-icon>
          My Profil
        </h2>
      </a></li>
      <li><a (click)="logout()">
        <h2>
          <md-icon>logout</md-icon>
          Logout
        </h2>
      </a></li>
    </ul>
  </div>
</md-toolbar>