<md-toolbar color="primary">
  <button md-button #mybutton (click)="start.toggle()">
    <md-icon class="menu-button">menu</md-icon>
  </button>
  <a href="/" class="logo"><span>  </span></a>
  <span class="fill-remaining-space"></span>
  <span class="toolbar-element"><md-icon>language</md-icon></span>
  <span class="toolbar-element"><md-icon>chat_bubble_outline</md-icon></span>
  <div class="dropdown">
    <a class="dropdown-toggle" id="dropdownMenu">
      <div class="row-picture">
        <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon"/>
      </div>
      Anna
      <md-icon>arrow_drop_down</md-icon>
    </a>
  </div>
</md-toolbar>