<div class="tag-wrapper container" [hidden]="showEditor" [style.borderLeftColor]="tag.style">
  <div class="tag-header">
    <div class="tag-name">{{ tag.name }}</div>
    <div *ngIf="editable" class="tag-actions">
      <button md-icon-button color="primary" (click)="toggleEditor()" title="{{ 'edit' | translate }}">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button color="primary" (click)="addSubtag()" title="{{ 'add subtag' | translate }}">
        <md-icon>add</md-icon>
      </button>
      <button md-icon-button color="warn" (click)="deleteTag()" title="{{ 'delete' | translate }}">
        <md-icon>delete_forever</md-icon>
      </button>
    </div>
  </div>
  <div class="tag-details">
    <div class="tag-description">{{ tag.description }}</div>
    <div class="tag-properties">
      <span class="prop-name">{{ 'short name' | translate }}: </span>
      <span class="prop-value">{{ tag.shortName }}</span>

      <span class="prop-name">{{ 'used' | translate }}: </span>
      <span class="prop-value" [ngPlural]="tag.usageCount">
        <ng-template ngPluralCase="=0">{{ 'never' | translate }}</ng-template>
        <ng-template ngPluralCase="=1">{{ 'once' | translate }}</ng-template>
        <ng-template ngPluralCase="other">{{ tag.usageCount }} {{ 'times' | translate }}</ng-template>
      </span>
    </div>
  </div>
</div>
<hip-tag-input [tag]="tag" [hidden]="!showEditor" (onExit)="onEditorClosed($event)"></hip-tag-input>

<ol [dragula]="'bag-'+tag.layer" [dragulaModel]="getSubtags(tag)" [attr.data-tag-id]="tag.id" class="container tag-list">
  <li *ngFor="let tag of getSubtags(tag);" [attr.data-tag-id]="tag.id">
    <hip-tag-list-item [tag]="tag" [editable]="editable" ></hip-tag-list-item>
  </li>
  <li class="show-on-hover" *ngIf="!tag.hasSubtags()"></li>
</ol>