<hip-topic-title [title]="('my topics' | translate)"></hip-topic-title>
<div class="bg-info info" *ngIf="topics.length == 0 && responseHandled == true">
  {{ langTopics | translate }}
</div>
<div class="bg-info info" *ngIf="topics.length == 0 && responseHandled == false">
  {{ langLoading | translate }}
</div>
<md-card class="default-card">
  <md-input class="grow-width" type="text" placeholder="{{ 'search...' | translate }}" [(ngModel)]="query"></md-input>
  <hip-topic-list [topics]="topics | hipTopicsSearchPipe: query"></hip-topic-list>
</md-card>
