.tag-menu-item {
  border-radius: 3px;
  margin: 5px 26px;
  margin-right: 0;
  border-left: 2px solid;
}

.tag {
  border-bottom: 1px solid;
}

.tag-menu-item button {
  width: inherit;
  height: inherit;
}