.tag-menu-item {
  border-radius: 3px;
  margin: 5px 0 5px 20px;
  border-left: 2px solid;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.tag {
  border-bottom: 1px solid;
  border-radius: 3px;
  width: inherit;
  padding: 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.tag-menu-item button {
  height: 36px;
  margin: 0;
  line-height: 11px;
}
