<md-card class="default-card">
  <h1>{{ 'all students' | translate }}</h1>
</md-card>

<md-card class="default-card">
  <md-card-content>
    <div class="user-search">
      <md-input-container>
        <input mdInput placeholder="{{ 'search...' | translate }}" [(ngModel)]="query" (keyup.enter)="findStudents()">
      </md-input-container>
      <button md-icon-button *ngIf="showingSearchResults" (click)="resetSearch()" title="{{ 'reset search' | translate }}">
        <md-icon>close</md-icon>
      </button>
      <button md-icon-button color="primary" [disabled]="query.trim().length < 1" (click)="findStudents()" title="{{ 'search' | translate }}">
        <md-icon>search</md-icon>
      </button>
    </div>

    <md-progress-bar *ngIf="students === undefined" mode="indeterminate"></md-progress-bar>

    <table class="user-list" *ngIf="students !== undefined && students.length > 0">
      <thead>
        <tr>
          <th (click)="sort('lastName')">{{ 'last name' | translate }}</th>
          <th (click)="sort('firstName')">{{ 'first name' | translate }}</th>
          <th (click)="sort('email')">{{ 'email' | translate }}</th>
          <th (click)="sort('studentDetails.discipline')">{{ 'discipline' | translate }}</th>
          <th (click)="sort('studentDetails.currentDegree')">{{ 'degree' | translate }}</th>
          <th (click)="sort('studentDetails.currentSemester')">{{ 'current semester' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of students
                | hipUsersSorter: key: direction
                | paginate: { id: 'server', itemsPerPage: studentsPerPage, currentPage: currentPage, total: totalStudents }">
          <td>{{ user.lastName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.studentDetails.discipline  }}</td>
          <td>{{ user.studentDetails.currentDegree }}</td>
          <td>{{ user.studentDetails.currentSemester }}</td>
        </tr>
      </tbody>
    </table>
    <hip-pagination (pageChange)="getPage($event)" *ngIf="students !== undefined && students.length > 0"></hip-pagination>

    <div class="no-results-message" *ngIf="students !== undefined && students.length < 1">{{ 'no results' | translate }}</div>
  </md-card-content>
</md-card>
