<md-card class="default-card topic-card" [class.subtopic]="depth > 0">
  <md-card-title>
    <md-input placeholder="topic title" #title="ngModel" required
              [(ngModel)]="topic.title" name="title"
              dividerColor="title.touched && title.invalid ? 'warn' : 'primary'"
    >
      <md-hint [hidden]="title.valid || title.untouched" class="error-hint">
        Title is required
      </md-hint>
    </md-input>
    <md-radio-group [(ngModel)]="topic.status"
                    #status="ngModel"
                    ngDefaultControl>
      <md-radio-button value="InProgress">In Progress</md-radio-button>
      <md-radio-button value="InReview">In Review</md-radio-button>
      <md-radio-button value="Done">Done</md-radio-button>
    </md-radio-group>
  </md-card-title>
  <md-card-content>
    <div class="form-group input-wrapper">
      <div class="item-wrapper">
        <hip-textarea [label]="'Description'" [(model)]="topic.description"></hip-textarea>
      </div>
      <div class="columns">
        <div class="column-left">
          <hip-taginput [role]="'Student'" [placeholder]="'assigned students'" [(users)]="topic.students">

          </hip-taginput>
        </div>
        <div class="column-right">
          <label for="datepicker" class="datepicker-label">deadline:</label>
          <input type="date" [(ngModel)]="topic.deadline"
                 class="default-input" id="datepicker"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column-left">
          <hip-taginput [role]="'Supervisor'" [placeholder]="'reviewed by*'"
                        [maxItems]=1 [(users)]="topic.reviewers" name="reviewer">
          </hip-taginput>
        </div>
        <div class="column-right">
          <hip-taginput [role]="'Supervisor'" [placeholder]="'supervisor(s)'"
                        [(users)]="topic.supervisors">
          </hip-taginput>
        </div>
      </div>
      <div class="item-wrapper">
        <md-input placeholder="length-requirements: 100-999 words, 2 images ..."
                  class="default-input"
                  [(ngModel)]="topic.requirements" ngDefaultControl>
        </md-input>
      </div>
      <div class="item-wrapper">
        <hip-textarea [label]="'Content'" [(model)]="topic.content"></hip-textarea>
      </div>
    </div>
  </md-card-content>
</md-card>