<md-card class="default-card">
  <h1>{{ 'exhibits' | translate }}</h1>
</md-card>

<md-card class="default-card">
  <agm-map [zoom]=15 [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let exhibit of allExhibits" [latitude]="exhibit.latitude" [longitude]="exhibit.longitude" [title]="exhibit.name" [opacity]="getOpacity(exhibit)"></agm-marker>
  </agm-map>
</md-card>

<md-card class="default-card">
  <div id="exhibit-search">
    <md-input-container>
      <input mdInput placeholder="{{ 'search...' | translate }}" [(ngModel)]="searchQuery" (ngModelChange)="findExhibits()">
    </md-input-container>

    <button md-icon-button *ngIf="showingSearchResults" (click)="resetSearch()" title="{{ 'reset search' | translate }}">
      <md-icon>close</md-icon>
    </button>
    <button md-icon-button color="primary" [disabled]="searchQuery.trim().length < 1" (click)="findExhibits()" title="{{ 'search' | translate }}">
      <md-icon>search</md-icon>
    </button>

    <md-select [(ngModel)]="selectedStatus" (ngModelChange)="reloadList()" placeholder="{{ 'filter by status' | translate }}">
      <md-option *ngFor="let status of statuses" [value]="status">
        {{ status | translate }}
      </md-option>
    </md-select>

    <md-select [(ngModel)]="selectedRoute" (ngModelChange)="reloadList()" placeholder="{{ 'filter by route' | translate }}">
      <md-option *ngFor="let route of routes" [value]="route.id">
        {{ route.title | translate }}
      </md-option>
    </md-select>

    <button md-mini-fab (click)="createExhibit()" id="create-button" title="{{ 'create exhibit' | translate }}">
      <md-icon>add</md-icon>
    </button>
  </div>

  <md-nav-list>
    <md-list-item [routerLink]="['/mobile-content/exhibits/view', exhibit.id]" ng-blur="true" *ngFor="let exhibit of exhibits | paginate: { id: 'server',
                                                                itemsPerPage: exhibitsPerPage,
                                                                currentPage: currentPage,
                                                                totalItems: totalItems }">
      <img md-list-avatar *ngIf="previewsLoaded && previews.has(exhibit.id); else exhibitIcon"
        [src]="previews.get(exhibit.id)" alt="{{ 'image preview' | translate }}"
        [ngStyle]="{'width.px': 48, 'height.px': 48}">
      <ng-template #exhibitIcon>
        <md-icon md-list-icon class="type-icon" [ngStyle]="{'font-size.px': 40, 'height.px': 40, 'width.px': 40}">place</md-icon>
      </ng-template>
      <h2 md-line>{{ exhibit.name }} ({{ exhibit.status | translate }})
        <hip-star-rating class="fix-position" *ngIf="exhibit.ratings" [rating]='exhibit.ratings'
                         [exhibitId]='exhibit.id'></hip-star-rating>
      </h2>
      <p md-line>{{ exhibit.description }}</p>
      <p md-line>
        <span class="latitude">{{ exhibit.latitude }}</span>,
        <span class="longitude">{{ exhibit.longitude }}</span>
      </p>
      <p *ngIf="exhibit.tags.length > 0" md-line>
        <span *ngFor="let tag of exhibit.tags" class="tag-name">{{ tag }}</span>
      </p>

      <button md-icon-button color="primary" [routerLink]="['/mobile-content/exhibits/edit', exhibit.id]" title="{{ 'edit' | translate }}">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button color="warn" (click)="deleteExhibit(exhibit)" *ngIf="!exhibit.used" title="{{ 'delete' | translate }}">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-list-item>
  </md-nav-list>
  <hip-pagination (pageChange)="getPage($event)" *ngIf="exhibits !== undefined && exhibits.length > 0"></hip-pagination>
</md-card>

