<md-card class="default-card">
 <h1>{{ 'edit tag' | translate }}</h1>
</md-card>
<div class="top-content">
  <div class="valign">
    <md-card class="default-card">    
      <md-card-content>
        <md-grid-list cols="5">
          <div class="form-wrap">
            <form novalidate (ngSubmit)="editTag()" #edittag="ngForm">
              <div *ngIf="errorMessage" class="alert alert-danger">
                <span>{{ errorMessage }}</span>
              </div>
              <md-input [(ngModel)]="tag.name"  required minlength="1" type="text" placeholder="{{ 'enter tag name' | translate}}"
              #Name="ngModel" name="Name">
            </md-input>
            <md-input [(ngModel)]="tag.shortName"  required minlength="1" type="text" placeholder="{{ 'enter tag short name' | translate}}"
            #ShortName="ngModel" name="ShortName">
          </md-input>
          <md-input [(ngModel)]="tag.description" required minlength="1" type="text" placeholder="{{ 'enter tag description' | translate}}"
          #Description="ngModel" name="Description">
        </md-input>
        <p><label class="text">{{ 'select layer' | translate }}</label>
          <select class="dropdown-layer" (change)="selectLayer($event.target.value)">
            <option *ngFor="let layer of layers" [selected]="layer == layer">{{ layer }}</option>
          </select></p>
          <p><input class="right" [(colorPicker)]="tag.style" 
           [style.background]="tag.style" 
           placeholder="{{ 'color' | translate }}" name="Style"/></p>
           <md-card-actions align="end">
            <button type="submit" md-raised-button [disabled]="responseHandled === true " 
            color="primary">{{'update tag' | translate }}
          </button>
          <br><br>
        </md-card-actions>
      </form>
    </div>
  </md-grid-list>
</md-card-content>
</md-card>
</div>
</div>
