.background-topic {
  /* CC by: https://www.flickr.com/photos/psyliby/5590283400/
  * https://creativecommons.org/licenses/by/2.0/ */
  background: url('./images/topics/background-title.jpg') no-repeat center;
  background-size: cover;
  padding: 0;
}

.opacity {
  padding: 24px 150px 24px 24px;
  display: inline-block;

  background: -moz-linear-gradient(left, rgba(255,255,255,.5) 0%,rgba(255,255,255,.5) 75%,rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,.5) 0%,rgba(255,255,255,.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,.5) 0%,rgba(255,255,255,.5) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.opacity > :first-child {
  margin-top: 0;
}
.opacity > :last-child {
   margin-bottom: 0;
}