md-card-title.title h1 {
  color: #00205B;
  font-size: 1.8em;
  padding: 0;
  margin: 0;
  width: auto;
}

.background-topic {
  /* CC by: https://www.flickr.com/photos/psyliby/5590283400/
  * https://creativecommons.org/licenses/by/2.0/ */
  background: url('./app/topics/shared/images/background-title.jpg') no-repeat center;
  background-size: cover;
  padding: 0;
}

.opacity {
  padding: 10px;
  padding-right: 30px;
  background-color: rgba(255, 255, 255, .5);
  display: inline-block;
}