<md-toolbar color="primary">
  <button md-button #mybutton (click)="start.toggle()" *ngIf="(!sidenavOpened && loggedIn)" [disableRipple]="true">
    <md-icon class="menu-button">menu</md-icon>
  </button>
  <a [routerLink]="['/']" class="logo"><span>  </span></a>
  <span class="fill-remaining-space"></span>
  <div class="toolbar-element clickable" (click)="selectLang()">
    <div class="world-icon">
      <md-icon>language</md-icon>
    </div>
    <div class="lang-list">
       <span class="lang" *ngFor="let lang of supportedLangs"
             [ngClass]="{langActive: isCurrentLang(lang.value)}">
            {{ lang.display }}
        </span>
    </div>
  </div>
  <div class="toolbar-element" *ngIf="loggedIn">
    <a [routerLink]="['/notifications/']">
      <span>{{numberOfUnreadNotifications}}</span>
      <md-icon>message</md-icon>
    </a>
  </div>
  <div class="toolbar-element" *ngIf="loggedIn">
    <a (click)="toggleMenu()">
      {{ currentUser.email }}
      <md-icon>arrow_drop_down</md-icon>
    </a>
    <ul class="toolbar-menu" *ngIf="loggedIn && menuOpen">
      <li><a [routerLink]="['/notifications']" (click)="toggleMenu()">
        <md-icon>message</md-icon>
        {{ 'my notifications' | translate }}
      </a></li>
      <li><a [routerLink]="['/my-topics']" (click)="toggleMenu()">
        <md-icon>library_books</md-icon>
        {{ 'my topics' | translate }}
        </a></li>
      <li><a [routerLink]="['/manage-profile']" (click)="toggleMenu()">
        <md-icon>person</md-icon>
        {{ 'my profile' | translate }}
      </a></li>
      <li><a (click)="logout()">
        <md-icon>cancel</md-icon>
        {{ 'logout' | translate }}
      </a></li>
    </ul>
  </div>
</md-toolbar>

<md-sidenav-container flex>
  <md-sidenav #start [mode]="mode" [opened]="opened">
    <md-nav-list>
      <md-list-item>
        <a [routerLink]="['/dashboard']">
          <md-icon>dashboard</md-icon>
          {{ 'dashboard' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/notifications']">
          <md-icon>message</md-icon>
          {{ 'notifications' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/my-topics']">
          <md-icon>library_books</md-icon>
          {{ 'my topics' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/all-topics']">
          <md-icon>library_books</md-icon>
          {{ 'all topics' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/annotation-tags']">
          <md-icon>text_fields</md-icon>
          {{ 'annotation tags' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/routes']" *ngIf="canCreate">
          <md-icon>directions</md-icon>
          {{ 'routes' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/exhibits']" *ngIf="canCreate">
          <md-icon>place</md-icon>
          {{ 'exhibits' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/tags']" *ngIf="canCreate">
          <md-icon>local_offer</md-icon>
          {{ 'tags' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/media']" *ngIf="canCreate">
          <md-icon>photo_library</md-icon>
          {{ 'media' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/pages']" *ngIf="canCreate">
          <md-icon>description</md-icon>
          {{ 'pages' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/invite-users']" *ngIf="canCreate">
          <md-icon>person_add</md-icon>
          {{ 'invite users' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/students']" *ngIf="canCreate">
          <md-icon>people_outline</md-icon>
          {{ 'all students' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/users']" *ngIf="canAdmin">
          <md-icon>people</md-icon>
          {{ 'user administration' | translate }}
        </a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/feature-toggle']" *ngIf="canAdmin">
          <md-icon>check_box</md-icon>
          {{ 'feature toggles' | translate }}
        </a>
      </md-list-item>
    </md-nav-list>
    <br>
  </md-sidenav>
  <div class="wrapper" #wrapper [ngClass]="{'wrapper': true, 'wrapper2': !loggedIn}">
    <toaster-container></toaster-container>
    <router-outlet></router-outlet>
    <div class="push"></div>
  </div>
  <footer>
    {{ hipCopyright }} | <a [routerLink]="[ '/legal-notice' ]">{{ 'legal notice' | translate }}</a>
  </footer>
</md-sidenav-container>
