<md-toolbar color="primary">
  <button md-button #mybutton (click)="start.toggle()" *ngIf="(!sidenavOpened && loggedIn)" [disableRipple]="true">
    <md-icon class="menu-button">menu</md-icon>
  </button>
  <a [routerLink]="['/dashboard']" class="logo"><span>  </span></a>
  <span class="fill-remaining-space"></span>
  <div class="toolbar-element clickable" (click)="selectLang()">
    <div class="world-icon">
      <md-icon>language</md-icon>
    </div>
    <div class="lang-list">
       <span class="lang" *ngFor="let lang of supportedLangs"
             [ngClass]="{langActive: isCurrentLang(lang.value)}">
            {{ lang.display }}
        </span>
    </div>
  </div>
  <div class="toolbar-element" *ngIf="loggedIn">
    <a [routerLink]="['/notifications/all']">
      <span>{{ numberOfUnreadNotifications }}</span>
      <md-icon>message</md-icon>
    </a>
  </div>
  <div class="toolbar-element" *ngIf="loggedIn">
    <a (click)="toggleMenu()">
      {{ currentUser.email }}
      <md-icon>arrow_drop_down</md-icon>
    </a>
    <ul class="toolbar-menu" *ngIf="loggedIn && menuOpen">
      <li><a [routerLink]="['/notifications/all']" (click)="toggleMenu()">
        <md-icon>message</md-icon>
        {{ 'my notifications' | translate }}
      </a></li>
      <li><a [routerLink]="['/topics/my']" (click)="toggleMenu()">
        <md-icon>library_books</md-icon>
        {{ 'my topics' | translate }}
        </a></li>
      <li><a [routerLink]="['/users/manage-profile']" (click)="toggleMenu()">
        <md-icon>person</md-icon>
        {{ 'my profile' | translate }}
      </a></li>
      <li><a (click)="logout()">
        <md-icon>cancel</md-icon>
        {{ 'logout' | translate }}
      </a></li>
    </ul>
  </div>
</md-toolbar>

<md-sidenav-container flex>
  <md-sidenav #start [mode]="mode" [opened]="opened">
    <md-nav-list>
      <md-list-item [ngClass]="url=='/dashboard' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/dashboard']">
        <a>
          <md-icon>dashboard</md-icon>
          {{ 'dashboard' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/notifications/all' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/notifications/all']">
        <a>
          <md-icon>message</md-icon>
          {{ 'notifications' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/topics/my' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/topics/my']">
        <a>
          <md-icon>library_books</md-icon>
          {{ 'my topics' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/topics/all' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/topics/all']">
        <a>
          <md-icon>library_books</md-icon>
          {{ 'all topics' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/annotation/tags' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/annotation/tags']">
        <a>
          <md-icon>text_fields</md-icon>
          {{ 'annotation tags' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/mobile-content/routes' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/mobile-content/routes']" >
        <a>
          <md-icon>directions</md-icon>
          {{ 'routes' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/mobile-content/exhibits' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/mobile-content/exhibits']" >
        <a>
          <md-icon>place</md-icon>
          {{ 'exhibits' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/mobile-content/achievements' ? 'activeMenu' : ''" [routerLink]="['/mobile-content/achievements']" >
        <a>
          <md-icon>stars</md-icon>
          {{ 'achievements' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/mobile-content/tags' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/mobile-content/tags']" >
        <a>
          <md-icon>local_offer</md-icon>
          {{ 'tags' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/mobile-content/media' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/mobile-content/media']" >
        <a>
          <md-icon>photo_library</md-icon>
          {{ 'media' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/mobile-content/pages' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/mobile-content/pages']" >
        <a>
          <md-icon>description</md-icon>
          {{ 'mobile pages' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/users/invite-users' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/users/invite-users']" *ngIf="canAdmin">
        <a>
          <md-icon>person_add</md-icon>
          {{ 'invite users' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/users/students' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/users/students']" *ngIf="canCreate">
        <a>
          <md-icon>people_outline</md-icon>
          {{ 'all students' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/users' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/users']" *ngIf="canAdmin">
        <a>
          <md-icon>people</md-icon>
          {{ 'user administration' | translate }}
        </a>
      </md-list-item>
      <md-list-item [ngClass]="url=='/feature-toggle' ? 'activeMenu' : ''" (click)="toggle(start)" [routerLink]="['/feature-toggle']" *ngIf="canAdmin">
        <a>
          <md-icon>check_box</md-icon>
          {{ 'feature toggles' | translate }}
        </a>
      </md-list-item>
    </md-nav-list>
    <br>
  </md-sidenav>
  <div class="wrapper" #wrapper [ngClass]="{'wrapper': true, 'wrapper2': !loggedIn}">
    <router-outlet></router-outlet>
    <div class="push"></div>
  </div>
  <footer>
    {{ hipCopyright }} | <a [routerLink]="[ '/pages/legal' ]">{{ 'legal notice' | translate }}</a>
  </footer>
</md-sidenav-container>
<toaster-container></toaster-container>
