<div id="create-button">
  <button md-mini-fab (click)="createFeature()" title="{{ 'create feature' | translate }}">
    <md-icon>add</md-icon>
  </button>
</div>
<table>
  <thead>
    <tr>
      <th>{{ 'ID' | translate }}</th>
      <th>{{ 'features' | translate }}</th>
      <th>{{ 'group name' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feature of features">
      <td>{{ feature.id }}</td>
      <td>{{ feature.name }}</td>
      <td>
        <ul>
          <li *ngFor="let featureGroup of featureGroups">
            <md-checkbox [checked]="featureGroup.isFeatureEnabled(feature.id)"
                         (change)="updateFeatureToggle($event, feature.id, featureGroup.id)">
              {{ featureGroup.name }}
            </md-checkbox>
          </li>
        </ul>
      </td>
      <td>
        <button md-icon-button color="warn" (click)="deleteFeature(feature)" title="{{ 'delete feature' | translate }}">
          <md-icon>delete_forever</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
