<form #FeatureGroupForm="ngForm">
  <div class="input-line">
    <md-input-container class="grow-width">
      <input mdInput [(ngModel)]="featuregroup.name" name="name" placeholder="{{ 'feature group name' | translate }}" required>
    </md-input-container>

    <md-input-container class="grow-width">
      <input mdInput [(ngModel)]="featuregroup.members" name="sName" placeholder="{{ 'feature group members name' | translate }}" required>
    </md-input-container>
  </div>

  <div class="input-line">
      <span id="form-actions">
        <button md-raised-button (click)="updateFeatureGroup()" [disabled]="!FeatureGroupForm.form.valid" color="primary">
          {{ 'edit' | translate }}
        </button>
        <button md-raised-button  (click)="exit()" color="primary">
          {{ 'cancel' | translate }}
        </button>
      </span>
  </div>
</form>