<md-card class="default-card">
  <table>
    <thead>
    <tr>
      <th>{{ 'Group name' | translate }}</th>
      <th>{{ 'Members List' | translate }}</th>
      <th>{{ 'Enabled features' | translate }}</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let featuregroup of featureGroup">
      <td>{{ featuregroup.name | translate }}</td>
      <td>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <p *ngFor="let members of featuregroup.members">{{members | translate}}</p>
          </div>
        </md-list-item>
      <td>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <p *ngFor="let members of featuregroup.members">{{members | translate}}</p>
          </div>
        </md-list-item>
      </td>
      <td>
        <button md-raised-button (click)="createFeatureGroup()">
          {{ 'edit' | translate }}
        </button>
        <button md-raised-button color="primary">
          {{ 'delete' | translate }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <md-card-actions align="end">
    <button md-raised-button (click)="createFeatureGroup()" color="primary">
      {{ 'create feature group' | translate }}
    </button>
  </md-card-actions>
</md-card>
