<md-card class="default-card">
  <table>
    <thead>
    <tr>
      <th>{{ 'reviewers' | translate }}</th>
      <th>{{ 'Last modified' | translate }}</th>
      <th>{{ 'status' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ 'reviewers' | translate }}</td>
      <td>{{ 'reviewers' | translate }}</td>
      <td>{{ 'Never' | translate }}</td>
      <td>
        <button md-raised-button>
          {{ 'edit' | translate }}
        </button>
        <button md-raised-button color="primary">
          {{ 'save' | translate }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</md-card>