<md-card class="default-card">
  <table>
    <thead>
    <tr>
      <th>{{ 'Feature name' | translate }}</th>
      <th>{{ 'Enabled Groups' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let feature of features'>
      <td *ngIf="!isEditFeatureEnable || feature.id !== editableFeatureID">{{ feature.name }}</td>
      <td *ngIf="isEditFeatureEnable && feature.id === editableFeatureID">
        <input mdInput [(ngModel)]="feature.name" name="name" placeholder="{{ 'feature name' | translate }}"
               required></td>
      <td>{{ feature.groupsWhereEnabled }}</td>
      <td>
        <button *ngIf="!isEditFeatureEnable || feature.id !== editableFeatureID" (click)="editFeature(feature.id)" md-raised-button>
          {{ 'edit' | translate }}
        </button>
        <button *ngIf="isEditFeatureEnable && feature.id === editableFeatureID" md-raised-button (click)="updateFeature(feature)" color="primary">
          {{ 'save' | translate }}
        </button>
        <button (click)="deleteFeature(feature)" md-raised-button color="primary">
          {{ 'delete' | translate }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <md-card-actions align="end">
    <button md-raised-button (click)="createFeature()" color="primary">
      {{ 'create feature' | translate }}
    </button>
  </md-card-actions>
</md-card>
