<md-card class="default-card">
  <md-card-title>{{ 'delete topic' | translate }}</md-card-title>
  <md-card-content>
    <div>{{ 'confirm delete' | translate }}</div>
    <div class="topic-title">{{ topic.title }}</div>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" [routerLink]="['/topics', topic.id]">
      {{ 'cancel' | translate }}
      <md-icon>cancel</md-icon>
    </button>
    <button md-raised-button color="warn" [disabled]="!isReady" (click)="deleteTopic()">
      {{ 'delete topic' | translate }}
      <md-icon>delete_forever</md-icon>
    </button>
  </md-card-actions>
</md-card>
