<h1 md-dialog-title>
  <span>{{ 'create new feature group' | translate }}</span>
</h1>

<md-dialog-content>
  <form #featureGroupForm="ngForm">
    <div class="input-fields">
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="featureGroup.name" name="name" #name="ngModel" required
               placeholder="{{ 'enter feature group name' | translate }}">
      </md-input-container>
  </form>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-raised-button color="primary" md-dialog-close>
    {{ 'cancel' | translate }}
  </button>
  <button md-raised-button color="primary" (click)="dialogRef.close(featureGroup)"
          [disabled]="!featureGroupForm.form.valid">
    {{ 'save feature group' | translate }}
  </button>
</md-dialog-actions>

