.save {
  height: 50px;
}

.save md-icon {
  margin-left: 5px;
  vertical-align: text-bottom;
}

.two-columns md-select {
  width: 40%;
}

.four-columns md-input {
  width: 25%;
}

#unit-select {
  margin-left: 10px;
}
