<md-card class="default-card">
  <h2>{{ title }} - {{ 'manage attachments' | translate }}</h2>
	<div class="bg-info info" *ngIf="!attachmentsResponseHandled">
    {{ 'loading your attachments' | translate }}
  </div>
	<div class="info" *ngIf="attachments.length == 0 && attachmentsResponseHandled">
    {{ 'no attachments' | translate }}
  </div>
  <md-list class="attachments-list" *ngIf="attachments.length > 0">
    <md-list-item *ngFor="let attachment of attachments">
      <h3 md-line>{{ attachment.name }}</h3>
      <p md-line>{{ attachment.description }}</p>
      <p md-line>
        {{ 'added at' | translate }} {{ attachment.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
        {{ 'by user' | translate }} {{ attachment.user }}
        <span *ngIf="attachment.license != ''">- {{ attachment.license }}</span>
      </p>
      <md-card-actions align="end">
        <button md-raised-button color="primary" (click)="downloadFile(attachment.id, attachment.topicId)">
          {{ 'download file' | translate }}
        </button>
        <button md-raised-button color="warn" (click)="deleteAttachment(attachment.id, attachment.topicId)">
          {{ 'delete attachment' | translate }}
        </button>
      </md-card-actions>
    </md-list-item>
  </md-list>
</md-card>
<md-card class="default-card">
  <h2>{{ 'add new attachment' | translate }}</h2>
  <md-card-content class="form">
    <md-input-container class="grow-width">
      <input mdInput placeholder="{{ 'name' | translate }}" required [(ngModel)]="newAttachment.name" />
      <md-hint [class.hidden]="newAttachment.name.length > 0" class="error-hint">
        {{ 'attachment name required' | translate}}
      </md-hint>
    </md-input-container>
    <md-input-container class="grow-width">
      <input mdInput placeholder="{{ 'description' | translate }}" required [(ngModel)]="newAttachment.description" />
      <md-hint [class.hidden]="newAttachment.description.length > 0" class="error-hint">
        {{ 'attachment description required' | translate}}
      </md-hint>
    </md-input-container>
    <md-input-container class="grow-width">
      <input mdInput placeholder="{{ 'license' | translate }}" [(ngModel)]="newAttachment.license" />
    </md-input-container>
    <input #fileInput type="file" required="required" accept="audio/*,image/*,video/*"
           (change)="fileInputChanged(fileInput.files)" />
    <div class="bg-info info" *ngIf="uploading">
      {{ 'your file is uploading' | translate }}
    </div>
  </md-card-content>
  <md-card-actions align="end" *ngIf="!uploading">
      <button md-raised-button color="primary" class="save" (click)="createAttachment(fileInput.files)"
              [disabled]="newAttachment.name.length == 0 || newAttachment.description.length == 0 || !newAttachmentFileSelected">
        {{ 'save attachment' | translate }}
        <md-icon>save</md-icon>
      </button>
  </md-card-actions>
</md-card>
