<md-card class="default-card">
  <h1>{{ topic.title }} - {{ 'manage attachments' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <h2>{{ 'attachments already uploaded' | translate }}</h2>
	<div class="bg-info info" *ngIf="!attachmentsResponseHandled">
    {{ 'loading your attachments' | translate }}
  </div>
	<div class="info" *ngIf="attachments.length == 0 && attachmentsResponseHandled">
    {{ 'no attachments' | translate }}
  </div>
  <md-list class="attachments-list" *ngIf="attachments.length > 0">
    <md-list-item *ngFor="let attachment of attachments">
      <h3 md-line>{{ attachment.name }}</h3>
      <p md-line>{{ attachment.description }}</p>
      <p md-line>
        {{ 'added at' | translate }} {{ attachment.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
        {{ 'by user' | translate }} {{ attachment.user }}
        <span *ngIf="attachment.copyright !== ''">- {{ attachment.copyright }}</span>
      </p>
      <md-card-actions align="end">
        <button md-raised-button color="primary" (click)="downloadFile(attachment.id, attachment.topicId)">
          {{ 'download file' | translate }}
        </button>
        <button md-raised-button color="warn" (click)="deleteAttachment(attachment.id, attachment.topicId)">
          {{ 'delete attachment' | translate }}
        </button>
      </md-card-actions>
    </md-list-item>
  </md-list>
</md-card>
<md-card class="default-card">
  <h2>{{ 'add new attachment' | translate }}</h2>
  <md-card-content>
    <div class="grow-width two-columns">
      <md-select placeholder="{{ 'attachment type' | translate }}"
                 [(ngModel)]="newAttachment.type" (ngModelChange)="typeChanged()">
        <md-option *ngFor="let attachmentType of attachmentTypes" [value]="attachmentType">
          {{ attachmentType | translate }}
        </md-option>
      </md-select>
      <md-select *ngIf="newAttachment.type === 'ARCHITECTURAL_DRAWING'"
                 placeholder="{{ 'type of architectural drawing' | translate }}" [(ngModel)]="subType">
        <md-option *ngFor="let subTypeOption of attachmentSubTypesForArchitecturalDrawings" [value]="subTypeOption">
          {{ subTypeOption | translate }}
        </md-option>
      </md-select>
    </div>
    <md-input class="grow-width" placeholder="{{ 'title' | translate }}" required [(ngModel)]="newAttachment.title">
      <md-hint [class.hidden]="newAttachment.isTitleValid()" class="error-hint">
        {{ 'title required' | translate }}
      </md-hint>
    </md-input>
    <md-input class="grow-width" placeholder="{{ 'details' | translate }}" [(ngModel)]="newAttachment.details">
    </md-input>
    <md-input *ngIf="newAttachment.canHavePhotographer()" class="grow-width"
              placeholder="{{ 'photographer' | translate }}" [(ngModel)]="newAttachment.photographer">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveCreator()" class="grow-width"
              placeholder="{{ 'author / architect / artist / designer' | translate }}" [(ngModel)]="newAttachment.creator">
    </md-input>
    <md-input class="grow-width" placeholder="{{ 'material' | translate }}" [(ngModel)]="newAttachment.material">
    </md-input>
    <div class="grow-width four-columns">
      <md-input *ngIf="newAttachment.canHaveHeightAndWidth()" placeholder="{{ 'height' | translate }}"
                type="number" [(ngModel)]="newAttachment.height">
      </md-input>
      <md-input *ngIf="newAttachment.canHaveHeightAndWidth()" placeholder="{{ 'width' | translate }}"
                type="number" [(ngModel)]="newAttachment.width">
      </md-input>
      <md-input *ngIf="newAttachment.canHaveDepth()" placeholder="{{ 'depth' | translate }}"
                type="number" [(ngModel)]="newAttachment.depth">
      </md-input>
      <md-select *ngIf="newAttachment.canHaveHeightAndWidth() || newAttachment.canHaveDepth()" id="unit-select"
                 placeholder="{{ 'unit of length' | translate }}" [(ngModel)]="newAttachment.unit">
        <md-option *ngFor="let unitOption of units" [value]="unitOption">
          {{ unitOption | translate }}
        </md-option>
      </md-select>
    </div>
    <md-input *ngIf="newAttachment.canHaveDateOfShot()" class="grow-width"
              placeholder="{{ 'date of shot' | translate }}" [(ngModel)]="newAttachment.date">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveDateofPrint()" class="grow-width"
              placeholder="{{ 'date of print' | translate }}" [(ngModel)]="newAttachment.date2">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveAgeDetermination()" class="grow-width"
              placeholder="{{ 'age determination' | translate }}" [(ngModel)]="newAttachment.date2">
    </md-input>
    <md-input class="grow-width" placeholder="{{ 'source' | translate }}" [(ngModel)]="newAttachment.source" required>
      <md-hint [class.hidden]="newAttachment.isSourceValid()" class="error-hint">
        {{ 'source required' | translate }}
      </md-hint>
    </md-input>
    <md-input class="grow-width" placeholder="{{ 'copyright' | translate }}" [(ngModel)]="newAttachment.copyright">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveLocation()" class="grow-width"
              placeholder="{{ 'location' | translate }}" [(ngModel)]="newAttachment.location">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveRepositoryAndSignature()" class="grow-width"
              placeholder="{{ 'repository' | translate }}" [(ngModel)]="newAttachment.location">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveRepositoryAndSignature()" class="grow-width"
              placeholder="{{ 'signature' | translate }}" [(ngModel)]="newAttachment.signature">
    </md-input>
    <md-input *ngIf="newAttachment.canHavePage()" class="grow-width"
              placeholder="{{ 'page' | translate }}" type="number" [(ngModel)]="newAttachment.page">
    </md-input>
    <md-input *ngIf="newAttachment.canHavePointOfOrigin()" class="grow-width"
              placeholder="{{ 'point of origin' | translate }}" [(ngModel)]="newAttachment.pointOfOrigin">
    </md-input>
    <md-input *ngIf="newAttachment.canHavePlaceOfManufacture()" class="grow-width"
              placeholder="{{ 'place of manufacture' | translate }}" [(ngModel)]="newAttachment.placeOfManufacture">
    </md-input>
    <md-input *ngIf="newAttachment.canHaveDetailedPosition()" class="grow-width"
              placeholder="{{ 'detailed position' | translate }}" [(ngModel)]="newAttachment.detailedPosition">
    </md-input>
    <input #fileInput type="file" required="required" accept="audio/*,image/*,video/*"
           (change)="fileInputChanged(fileInput.files)">
    <div class="bg-info info" *ngIf="uploading">
      {{ 'your file is uploading' | translate }}
    </div>
  </md-card-content>
  <md-card-actions align="end" *ngIf="!uploading">
      <button md-raised-button color="primary" class="save" (click)="createAttachment(fileInput.files)"
              [disabled]="!newAttachment.isValid() || !newAttachmentFileSelected">
        {{ 'save attachment' | translate }}
        <md-icon>save</md-icon>
      </button>
  </md-card-actions>
</md-card>
