<md-card class="default-card">
  <h1>{{ 'manage profile' | translate }}</h1>
</md-card>
<div class="flex">
  <hip-upload-picture></hip-upload-picture>
  <md-card>
    <md-card-content>
      <div *ngIf="errorMessage" class="alert alert-danger">
        <span>{{ errorMessage }}</span>
      </div>
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="currentUser.email" disabled type="text"
               placeholder="{{ 'email' | translate }}" #Email="ngModel" name="Email"/>
      </md-input-container>
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="currentUser.firstName" type="text"
               placeholder="{{ 'first name' | translate }}" #FirstName="ngModel" name="FirstName" />
      </md-input-container>
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="currentUser.lastName" type="text"
               placeholder="{{ 'last name' | translate }}" #LastName="ngModel" name="LastName" />
      </md-input-container>
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="currentUser.roles" type="text" id="role" placeholder="{{ 'role' | translate }}"
          name="role" #role="ngModel" />
      </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="primary" (click)="updateUserInfo()">
        {{ 'save changes' | translate }}
        <md-icon>save</md-icon>
      </button>
    </md-card-actions>
  </md-card>
  <hip-edit-student-details *ngIf="showStudentDetails" [user]="currentUser"></hip-edit-student-details>
</div>
<div class="flex">
  <md-card *ngIf="!!notificationTypes && !!subscribedTypes">
    <md-card-content>
      <p>{{ 'select notification types' | translate }}</p>
      <ul class="notification-type-list">
        <li *ngFor="let type of notificationTypes">
          <md-checkbox [checked]="subscribedTypes.includes(type)"
                       (change)="updateSubscription($event, type)">{{ type | translate }}
          </md-checkbox>
        </li>
      </ul>
    </md-card-content>
  </md-card>
</div>