.notification-type-list {
  list-style-type: none;
  padding: 0;
}
.user-profile-card-position {
  float:left;
  margin-left: 35px;
}
.notification-card-position {
  float:right;
  margin-right: 35px;
}
.notification-card {
  height: 350px;
}
