#new-achievement-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-actions {
    text-align: right;
  }
  
  agm-map {
    height: 250px;
  }
  
  .align-right {
    float: right;
    margin-top: 18px;
  }
  
  .centered {
    vertical-align: middle;
  }