.page-form {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.selectors {
  display: flex;
  justify-content: space-between;
}

.selectors md-select {
  width: 11em;
}

.media-title {
  margin: 0 2em;
}

.slider-images th {
  border-top: 0 none;
}
