<div class="page-form">
  <!-- Type selection only available for new pages (id = -1) -->
  <div class="selectors">
    <md-select placeholder="{{ 'type' | translate }}" [(ngModel)]="page.type" *ngIf="page.id === -1" (ngModelChange)="changeType()">
      <md-option *ngFor="let pageType of pageTypes" [value]="pageType">{{ pageType | translate }}</md-option>
    </md-select>

    <md-select placeholder="{{ 'font' | translate }}" [(ngModel)]="page.fontFamily">
      <md-option *ngFor="let font of fontOptions" [value]="font">{{ font | translate }}</md-option>
    </md-select>
  </div>

  <md-input-container>
    <input mdInput placeholder="{{ 'title' | translate }}" [(ngModel)]="page.title">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="{{ 'description' | translate }}" [(ngModel)]="page.description">
  </md-input-container>

  <md-input-container>
    <textarea mdInput placeholder="Text" [(ngModel)]="page.text" required></textarea>
  </md-input-container>

  <div>
    <span>{{ 'audio' | translate }}:</span>
    <span class="media-title">{{ page.audio != null ? audioTitle : ('no audio selected' | translate) }}</span>
    <button md-icon-button color="primary" title="{{ 'select audio' | translate }}" (click)="selectMedia('audio', page)">
      <md-icon>library_music</md-icon>
    </button>
    <button md-icon-button color="warn" title="{{ 'unset' | translate }}" (click)="clearAudio(page)">
      <md-icon>close</md-icon>
    </button>
  </div>

  <!--Image selection (only for Appetizer and Image pages) -->
  <div *ngIf="page.isAppetizerPage() || page.isImagePage()">
    <div>
      <span>{{ 'image' | translate }}:</span>
      <span class="media-title">{{ page.image != null ? imageTitle : ('no image selected' | translate) }}</span>
      <button md-icon-button color="primary" title="{{ 'select image' | translate }}" (click)="selectMedia('image', page)">
        <md-icon>add_a_photo</md-icon>
      </button>
      <button md-icon-button color="warn" title="{{ 'unset' | translate }}" (click)="clearImage(page)">
        <md-icon>close</md-icon>
      </button>
    </div>
  </div>

  <!-- Editing of slider images -->
  <div *ngIf="page.isSliderPage()">
    {{ 'images' | translate }}:
    <table class="slider-images" *ngIf="page.images && page.images.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'title' | translate }}</th>
          <th>{{ 'date' | translate }}</th>
          <th>{{ 'actions'| translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let img of page.images; let idx = index; let isFirst = first; let isLast = last">
          <td>{{ idx + 1 }}.</td>
          <td>{{ sliderTitles.get(img.image) }}</td>
          <td>
            <input [(ngModel)]="img.date">
          </td>
          <td>
            <button md-icon-button color="primary" [disabled]="isLast" title="{{ 'move down' | translate }}" (click)="moveDown(page.images, img)">
              <md-icon>details</md-icon>
            </button>
            <button md-icon-button color="primary" [disabled]="isFirst" title="{{ 'move up' | translate }}" (click)="moveUp(page.images, img)">
              <md-icon>change_history</md-icon>
            </button>
            <button md-icon-button color="warn" title="{{ 'unset' | translate }}" (click)="unset(page.images, img)">
              <md-icon>close</md-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button md-icon-button color="primary" title="{{ 'select image' | translate }}" (click)="selectMedia('image', page)">
      <md-icon>add_a_photo</md-icon>
    </button>
    <md-slide-toggle [(ngModel)]="page.hideYearNumbers" color="primary">{{ 'hide year numbers' | translate }}</md-slide-toggle>
  </div>
</div>
