<div class="row">
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder="{{'search...' | translate}}" [(ngModel)]="query">
  </div>
  <div class="col-xs-2">
    <select class="form-control">
      <option *ngFor="let option of options" [selected]="option == 'Email'">{{option}}</option>
    </select>
  </div>
</div>
<br/>
<br/>
<table class="table table-hover">
  <thead>
  <tr>
    <th (click)="sort('lastName')">{{'last name' | translate}}</th>
    <th (click)="sort('firstName')">{{'first name' | translate}}</th>
    <th (click)="sort('email')">{{'email' | translate}}</th>
    <th (click)="sort('role')">{{'role' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of _items | async | hipUsersFilter: query: option | hipUsersSorter: key: direction
            | paginate: { id: 'server', itemsPerPage: 10, currentPage: _page, totalItems: _total }">
    <td>{{user.lastName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}}</td>
    <td>
      <button md-raised-button
              [routerLink]="['/edit-user', user.id]">
        {{ 'edit' | translate }}
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div align="center">
  <pagination-controls #pagination (pageChange)="getPage($event)" id="server">
    <div class="pagination custom-pagination">

      <div class="elem pagination-previous" [class.disabled]="pagination.isFirstPage()">
        <a *ngIf="!pagination.isFirstPage()" (click)="pagination.previous()"> « {{'previous' | translate}} </a>
      </div>

      <div class="elem" *ngFor="let page of pagination.pages" [class.current]="pagination.getCurrent() === page.value">
        <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
          {{ page.label }}
        </a>
        <div *ngIf="pagination.getCurrent() === page.value">
          {{ page.label }}
        </div>
      </div>

      <div class="elem pagination-next" [class.disabled]="pagination.isLastPage()" *ngIf="pagination.directionLinks">
        <a *ngIf="!pagination.isLastPage()" (click)="pagination.next()"> {{'next' | translate}} » </a>
      </div>

    </div>
  </pagination-controls>
</div>
