<h1 md-dialog-title>{{ 'create feature' | translate }}</h1>

<md-dialog-content>
  <md-input-container class="grow-width">
    <input mdInput [(ngModel)]="feature.name" required placeholder="{{ 'feature name' | translate }}">
  </md-input-container>
  <md-checkbox>{{ 'dashboard' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'notifications' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'my topics' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'all topics' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'annotation tags' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'routes' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'exhibits' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'achievements' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'tags' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'media' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'mobile pages' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'invite users'  | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'all students' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'user administration' | translate }}</md-checkbox><br>
  <md-checkbox>{{ 'feature toggles' | translate }}</md-checkbox>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-raised-button md-dialog-close>
    {{ 'cancel' | translate }}
    <md-icon>cancel</md-icon>
  </button>
  <button md-raised-button color="primary" (click)="dialogRef.close(feature)" [disabled]="!feature.isValid()">
    {{ 'save' | translate }}
    <md-icon>save</md-icon>
  </button>
</md-dialog-actions>
