<md-card class="default-card">
  <h1>{{ 'feature toggles' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <md-tab-group>
    <md-tab label="{{ 'Manage feature toggles' | translate }}">
      <md-card>
        <md-card-content>
          <p>{{ 'Feature name' | translate }}</p>
          <ul class="type-list">
            <li>
              <md-checkbox>Unchecked</md-checkbox>
              <md-checkbox [checked]="true">Checked</md-checkbox>
            </li>
          </ul>
          <md-divider></md-divider>
          <p>{{ 'Feature toggle' | translate }}</p>
          <ul class="type-list">
            <li>
              <md-checkbox>Unchecked</md-checkbox>
              <md-checkbox [checked]="true">Checked</md-checkbox>
            </li>
          </ul>
          <md-divider></md-divider>
        </md-card-content>
        <md-card-actions align="end">
          <button md-raised-button color="primary">
            {{ 'create feature toggles' | translate }}
          </button>
        </md-card-actions>
      </md-card>
    </md-tab>
    <md-tab label="{{ 'Manage feature groups' | translate }}">
      <hip-feature-group></hip-feature-group>
    </md-tab>
    <md-tab label="{{ 'Manage features' | translate }}">
      <hip-feature></hip-feature>
    </md-tab>
  </md-tab-group>
</md-card>
