<tag-input [(ngModel)]="users" [onlyFromAutocomplete]="true"
           [identifyBy]="'identity'" [displayBy]="'email'"
           (ngModelChange)="updateData()"
           [placeholder]="placeholder" [maxItems]="maxItems"
           [secondaryPlaceholder]="secondaryPlaceholder"
           ngDefaultControl #input theme="{{readonly ? 'minimal' : 'default'}}">
  <ng-template let-item="item" let-index="index">
    <div class="tag">
      <span>{{ item.email }}</span>
      <span (click)="input.removeItem(item, index)" *ngIf="!readonly">
          <md-icon class="close">close</md-icon>
      </span>
    </div>
  </ng-template>
  <tag-input-dropdown [displayBy]="'email'"
                      [showDropdownIfEmpty]="false"
                      [keepOpen]="false"
                      [identifyBy]="'id'"
                      [autocompleteObservable]="requestAutoCompleteItems"
                      >

    <ng-template let-item="item">
      <span class="list-item">{{ item.email }}({{ item.id }})</span>
    </ng-template>

  </tag-input-dropdown>
</tag-input>
