<h1 md-dialog-title>
  <span>{{ action | translate }}</span>
</h1>

<md-dialog-content>
  <md-input-container class="grow-width title">
    <input mdInput value={{name}} placeholder="{{ 'Feature title' | translate }}"/>
  </md-input-container>
  <div class="form-group input-wrapper">
    <div class="item-wrapper">
      <md-input-container class="grow-width">
          <textarea mdInput autosize placeholder="{{ 'description ' | translate }}">
            {{description}}
          </textarea>
      </md-input-container>
    </div>
  </div>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-raised-button color="primary" md-dialog-close>
    {{ 'cancel' | translate }}
  </button>
  <button md-raised-button color="primary">
    {{ 'save' | translate }}
  </button>
</md-dialog-actions>
