<md-card class="default-card">
  <h1>{{ 'create new tag' | translate }}</h1>
</md-card>

<md-card class="default-card">
  <md-card-content>
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      {{ 'tag name missing' | translate }}
    </div>
    <div *ngIf="shortName.errors && (shortName.dirty || shortName.touched)" class="alert alert-danger">
      {{ 'tag short name missing' | translate }}
    </div>

    <form #tagForm="ngForm">
      <md-input-container class="grow-width">
        <input md-input [(ngModel)]="tag.name" name="name" #name="ngModel" required
               placeholder="{{ 'enter tag name' | translate }}">
      </md-input-container>
      <md-input-container class="grow-width">
        <input md-input [(ngModel)]="tag.shortName" name="shortName" #shortName="ngModel" required
               placeholder="{{ 'enter tag short name' | translate }}">
      </md-input-container>
      <md-input-container class="grow-width">
        <input md-input [(ngModel)]="tag.description" name="description"
               placeholder="{{ 'enter tag description' | translate }}">
      </md-input-container>

      <label for="layerSelect">{{ 'layer' | translate }}:&nbsp;</label>
      <select id="layerSelect" [(ngModel)]="tag.layer" name="tagLayer" required>
        <option *ngFor="let layer of layers" [value]="layer">
          {{ layer | translate }}
        </option>
      </select>

      <label for="colorPicker">{{ 'color' | translate }}:&nbsp;</label>
      <input type="color" [(ngModel)]="tag.style" name="style"
             [value]="tag.style" id="colorPicker">
    </form>
  </md-card-content>

  <md-card-actions align="end">
    <button md-raised-button color="primary" routerLink="/all-tags">{{ 'cancel' | translate }}</button>
    <button type="submit" (click)="saveTag()" md-raised-button color="primary" [disabled]="!tagForm.form.valid">
      {{ 'save tag' | translate }}
    </button>
  </md-card-actions>
</md-card>
