<form #tagForm="ngForm" class="tag-form">
  <div class="input-group">
    <md-input-container class="grow-width">
      <input md-input [(ngModel)]="tag.name" name="name" placeholder="{{ 'tag name' | translate }}" required>
    </md-input-container>

    <md-input-container class="grow-width">
      <input md-input [(ngModel)]="tag.shortName" name="sName" placeholder="{{ 'short name' | translate }}" required>
    </md-input-container>
  </div>

  <div class="input-group">
    <md-input-container class="grow-width" id="desc">
      <input md-input [(ngModel)]="tag.description" name="desc" placeholder="{{ 'description' | translate }}">
    </md-input-container>

    <!--<label for="layerSelect">{{ 'layer' | translate }}:&nbsp;</label>
    <select id="layerSelect" [(ngModel)]="tag.layer" name="tagLayer" [disabled]="tag.isSubtag()" required>
      <option *ngFor="let layer of layers" [value]="layer">
        {{ layer | translate }}
      </option>
    </select>-->

    <div id="button-wrapper">
      <input id="color-picker" type="color" [(ngModel)]="tag.style" name="style" [value]="tag.style">

      <span id="form-actions">
        <button md-icon-button color="primary" title="{{ 'cancel' | translate }}"
          (click)="updateTag(null)">
          <md-icon>cancel</md-icon>
        </button>
        <button md-icon-button color="primary" title="{{ 'save tag' | translate }}"
          (click)="updateTag(tag)" [disabled]="!tagForm.form.valid">
          <md-icon>save</md-icon>
        </button>
      </span>
    </div>
  </div>
</form>
