<md-card class="default-card">
  <h1>{{'contact prompt' | translate}}</h1>
</md-card>
<md-card class="default-card">
  <form #f="ngForm" action="MAILTO:hip-app@campus.upb.de?Subject=Message%20from%20HiP%20CMS"
        method="POST" enctype="text/plain">
    <md-card-content>
      <md-input type="text" class="grow-width"
                id="Name"
                placeholder="{{'name' | translate}}"
                name="Sender" ngModel
                required></md-input>
      <md-input type="text" class="grow-width"
                id="email"
                placeholder="{{'email' | translate}}"
                name="Email" ngModel
                required></md-input>
      <md-textarea name="Message" ng-model="Message" required md-maxlength="50" cols="120" rows="10"
                   placeholder="{{'message prompt' | translate}}"></md-textarea>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button type="reset">{{'reset' | translate}}</button>
      <button md-raised-button color="primary" type="submit">{{'submit' | translate}}</button>
    </md-card-actions>
  </form>
</md-card>
