<md-card class="default-card">
  <md-card-title>Delete topic</md-card-title>
  <div *ngIf="!isDeleted">
    <md-card-content>
      <div>{{ 'confirm delete' | translate }}</div>
      <button md-raised-button color="primary" (click)="deleteTopic()">{{ 'delete topic' | translate }}</button>
    </md-card-content>
  </div>
  <div *ngIf="isDeleted">
    <md-card-content>
      <div>Delete successful</div>
      <button md-raised-button color="primary" [routerLink]="['/my-topics']">Back to my topics</button>
    </md-card-content>
  </div>
</md-card>
