<hip-topic-title *ngIf = "!addFromExisting" [title]="('new topic' | translate)"></hip-topic-title>
<hip-topic-input *ngIf = "!addFromExisting" [(topic)]="topic"></hip-topic-input>
<div class="add-topic-wrapper" *ngIf = "!addFromExisting">
	<div class="fill-add-topic"></div>
	<button md-raised-button color="primary" class="save" (click)="saveTopic()">{{'save topic' | translate}}
		<md-icon>save</md-icon>
	</button>
</div>

<md-card class="default-card"  *ngIf = "addFromExisting">
	<div class="row">
		<div class="col-xs-4">
			<input type="text" class="form-control" placeholder="{{'search...' | translate}}" [(ngModel)]="query"
			(keyup)=searchTopics()>
		</div>
		 <button  >
      <md-icon >add</md-icon>
    </button>
	</div>
	<md-list *ngIf="query.length >= 1">
		<md-list-item *ngFor="let topic of allTopics" [routerLink]="['/topics', topic.id]">
			<div >
				<h5 md-line (click) = "addExistingTopic(topic)">{{topic.title}}</h5>
				<p md-line>{{topic.description}}</p>
			</div>
		</md-list-item>
	</md-list>
</md-card>


