a.dropdown-toggle {
  color: #3d5582;
  margin: 0;
  height: 100%;
}

a.dropdown-toggle md-icon {
  vertical-align: middle;
}

a.dropdown-toggle span.profile-name {
  vertical-align: middle;
}

a.dropdown-toggle:hover {
  text-decoration: none;
}

.dropdown {
  position: relative;
  margin: 0;
  height: 100%;
}

ul.dropdown-menu {
  position: absolute;
  top: 64px;
  right: 0;
  left: -200px;
  width: 250px;
  border: none;
  padding: 10px 10px 10px 20px;
  margin: 0;
  margin-left: 100%;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  border-radius: 0 0 2px 2px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: rgb(231, 233, 231);
}

.add-icon {
  margin-left: -2px;
  margin-top: 1px;
  font-size: large;
}

.add-button {
  min-width: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background-color: #ffab40;
  color: rgba(0, 0, 0, 0.87);
}

button[disabled] {
  color: #5C3333;
  background-color: rgb(231, 233, 231);
}

ul.dropdown-menu li a h2 {
  color: #00205B;
  font-size: 125%;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
}

ul.dropdown-menu li a h2 md-icon {
  vertical-align: middle;
  margin-right: 10px;
}

ul.dropdown-menu li a:hover {
  text-decoration: none;
}

ul.dropdown-menu li h2 {
  padding: 0;
}

ul.dropdown-menu li a {
  display: block;
  padding: 1px 15px;
}

ul.dropdown-menu li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.toolbar-element {
  display: block;
  padding: 20px;
}

.toolbar-element:hover {
  background: rgba(255, 255, 255, .2);
}

.margin-right {
  margin-right: 10px;
}