#edit-achievement-form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#details-form md-select {
    position: relative;
    top: -1px;
  }


.form-actions {
    text-align: right;
}

.endbuttons{
    padding-bottom: 3px;
  }

.set-position{
    top: 6px;
  }

agm-map {
    height: 250px;
}

.align-right {
    float: right;
    margin-top: 18px;
}

.centered {
    vertical-align: middle;
}