select {
   min-width: 130px;
   max-width: 90%;
   margin: 0 auto;
}

.button-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   margin-top: 3em;
}

.button-container button:last-child {
   margin-left: 10px;
}
