select {
   min-width: 130px;
   max-width: 90%;
   margin: 0 auto;
}

.button-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.button-container button:last-child {
   margin-left: 10px;
}

md-input {
  width: 100%;
}

md-card {
  max-width: 1024px;
  padding: 15px;
}