#tag-search {
  display: flex;
}

#tag-search md-input-container {
  flex: 1 1;
}

#tag-search md-select {
  position: relative;
  top: -5px;
  margin-left: .5em;
}

#create-button {
  margin-left: 2em;
}

#create-button md-icon {
  height: 90%;
}

.centered{
  text-align: center;
}

.tagImage{
  margin-right: 5px;
  border-radius: 10px;
}
