<md-card class="default-card">
  <h1>{{ 'tags' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <div id="tag-search">
    <md-input-container>
      <input mdInput placeholder="{{ 'search...' | translate }}" [(ngModel)]="searchQuery" (keyup.enter)="findTags()">
    </md-input-container>

    <button md-icon-button *ngIf="showingSearchResults" (click)="resetSearch()" title="{{ 'reset search' | translate }}">
      <md-icon>close</md-icon>
    </button>
    <button md-icon-button color="primary" [disabled]="searchQuery.trim().length < 1" (click)="findTags()" title="{{ 'search' | translate }}">
      <md-icon>search</md-icon>
    </button>

    <md-select [(ngModel)]="selectedStatus" (ngModelChange)="reloadList()" placeholder="{{ 'filter by status' | translate }}">
      <md-option *ngFor="let status of statuses" [value]="status">
        {{ status | translate }}
      </md-option>
    </md-select>

    <button md-mini-fab (click)="createTag()" id="create-button" title="{{ 'create tag' | translate }}">
      <md-icon>add</md-icon>
    </button>
  </div>
  <table class="tagTable">
    <tr  *ngFor="let tag of tags | paginate: { id: 'server',
                                                            itemsPerPage: pageSize,
                                                            currentPage: currentPage,
                                                          totalItems: totalItems }">

      <td flex >
        <h2 md-line>{{ tag.title }}</h2>
        <p md-line>{{ tag.description }}</p>
      </td>
      <td layout-align="center" class="imageButtons" >
        <div class="centered"><img height="70px" alt="Bootstrap Image Preview" src="http://lorempixel.com/100/70/" /></div>
        <div  class="centered" ><button md-icon-button color="primary" [routerLink]="[ '/tags/edit', tag.id]" title="{{ 'edit' | translate }}">
          <md-icon>edit</md-icon>
        </button>
          <button md-icon-button color="warn" (click)="deleteTag(tag)" title="{{ 'delete' | translate }}">
            <md-icon>delete_forever</md-icon>
          </button></div>
      </td>

    </tr>
  </table>
  <hip-pagination (pageChange)="getPage($event)" *ngIf="tags !== undefined && tags.length > 0"></hip-pagination>
</md-card>
