md-card-title {
  background-color: #E7E9E7;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

md-card {
  padding: 0;
  position: relative;
}

md-card-content, .title-wrapper {
  padding: 0 20px;
}

h3.md-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.title-wrapper {
  display: flex;
  width: 100%;
}

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.subtopic-title {
  min-height: 75px;
  padding-top: 10px;
}

.user-list {
  flex-grow: 1;
}

.title {
  flex-grow: 2;
}

.status {
  flex-grow: 1;
  text-align: right;
  margin-top: 10px;
}

.edit {
  text-align: right;
  margin-top: 10px;
}

.user {
  background: #cccccc;
  border-radius: 3px;
  margin: 0 5px;
  padding: 2px;
}

.description p {
  color: #555;
}

.add-topic {
  position: absolute;
  bottom: -28px;
  left: 28px;
  background: #FF8200;
}

.add-subtopic-button {
  margin-left: 10px;
  margin-bottom: 30px;
}

.add-new-subtopic-button {
  border-radius: 50%;
  width: 50px;
  padding: 0;
  margin-left: 10px;
  bottom: 0px;
  position: absolute;
  height: 56px;
  margin-top: -43px;
  background-color: #ffab40;
  color: rgba(0, 0, 0, 0.87);
}

.delete-subtopic-button {
  min-width: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: #c7c9c7;
}

.no-subtopics {
  margin-top: 40px;
  padding-bottom: 20px;
}

md-list {
  display: flex;
  flex-wrap: wrap;
}

md-list-item {
  width: 50%;
}

md-list-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}

md-list-item p {
  color: #666;
}

button.dropdown-toggle {
  color: #3d5582;
  margin: 0;
  height: 100%;
}

button.dropdown-toggle md-icon {
  vertical-align: middle;
}

button.dropdown-toggle span.profile-name {
  vertical-align: middle;
}

button.dropdown-toggle:hover {
  text-decoration: none;
}

.dropdown {
  position: relative;
  margin: 0;
}

ul.dropdown-menu {
  top: 10px;
  right: 0;
  width: 300px;
  border: none;
  margin: 0;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  border-radius: 0 0 2px 2px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: rgb(231, 233, 231);
  opacity: 0.8
}

.add-icon {
  position: absolute;
  top: 9px;
  left: 13px;
}

.add-button {
  min-width: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background-color: #ffab40;
  color: rgba(0, 0, 0, 0.87);
}

button[disabled] {
  color: #5C3333;
  background-color: rgb(231, 233, 231);
}

ul.dropdown-menu li a h5 {
  color: #00205B;
  font-size: 100%;
  vertical-align: middle;
}

ul.dropdown-menu li a h5 md-icon {
  vertical-align: middle;
  margin-right: 10px;
}

ul.dropdown-menu li a:hover {
  text-decoration: none;
}

ul.dropdown-menu li h5 {
  padding: 0;
}

ul.dropdown-menu li a {
  display: block;
  padding: 1px 15px;
}

ul.dropdown-menu li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.toolbar-element {
  display: block;
  padding: 20px;
}

