.topic-card {
  padding: 0;
}

md-card-title {
  padding: 10px 10px 5Px;
  background: #00A3E0;
  width: 100%;
}

.default-input {
  width: 100%;
}

.input-wrapper {
  width: 100%;
  padding: 5px 15px;
}

.sub-topic {
  width: 100%;
  padding: 5px 0 5px 15px;
}

md-radio-group {
  float: right;
  font-size: .5em;
  margin-right: 20px;
  margin-top: 15px;
}

.expander {
  float: right;
  padding: 15px;
  clear: both;
  display: block;
}

.expander:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.small-title {
  height: 60px;
}

.small-title md-input {
  font-size: 14px;
  margin-top: 0;
}

.subtopic {
  border-left: 2px solid #00205B;
}

.depth0 {
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

.depth1 {
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

.depth2 {
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

.depth3 {
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

.depth4 {
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

.depth5 {
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

.add-topic-wrapper {
  width: 100%;
  display: flex;
}

.add-topic-wrapper .dropdown-menu {
  margin-left: -80px;
}

.fill-add-topic {
  flex: 1 1 auto;
}

.add-topic {
  margin-right: 15px;
  margin-bottom: 15px;
  background: #FF8200;
}

.add-icon {
  padding: 0;
}
