md-card-title {
  background-color: #E7E9E7;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

md-card {
  padding: 0;
  position: relative;
}

md-card-content, .title-wrapper {
  padding: 0 20px;
}

h3.md-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.title-wrapper {
  display: flex;
  width: 100%;
}

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.subtopic-title {
  min-height: 75px;
  padding-top: 10px;
}

.user-list {
  flex-grow: 1;
}

.title {
  flex-grow: 2;
}

.status {
  flex-grow: 1;
  text-align: right;
  margin-top: 10px;
}

.edit {
  text-align: right;
  margin-top: 10px;
}

.user {
  background: #cccccc;
  border-radius: 3px;
  margin: 0 5px;
  padding: 2px;
}

.description p {
  color: #555;
}

.add-topic {
  position: absolute;
  bottom: -28px;
  left: 28px;
  background: #FF8200;
}

.add-icon {
  padding: 1px;
}

.add-subtopic-button {
  margin-left: 10px;
  margin-bottom: 30px;
}

.add-new-subtopic-button {
  margin-left: 10px;
  position: absolute;
}

.delete-subtopic-button {
  min-width: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: #c7c9c7;
}

.no-subtopics {
  margin-top: 10px;
  padding-bottom: 20px;
}

md-list {
  display: flex;
  flex-wrap: wrap;
}

md-list-item {
  width: 50%;
}

md-list-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}

md-list-item p {
  color: #666;
}

.radio-text {
  font-size: 14px;
  font-weight: normal;
}

.save {
  font-size: 27px;
  font-weight: 400;
  cursor: pointer;
}

.save:hover {
  background: white;
}
