<md-card class="default-card topic-card" [class.subtopic]="depth > 0">
  <md-card-title [class.small-title]="!showContent" (click)="toggleContent()">
    <md-icon class="remove-topic" *ngIf="depth > 0" (click)="removeSubtopic()">close</md-icon>
    <md-input placeholder="topic title"
              [(ngModel)]="topic.title"
              (click)="toggleContent()">
    </md-input>
    <div class="expander">
      <md-icon *ngIf="showContent">expand_less</md-icon>
      <md-icon *ngIf="!showContent">expand_more</md-icon>
    </div>
    <md-radio-group (click)="toggleContent()">
      <md-radio-button value="inProgress" checked="checked">In Progress</md-radio-button>
      <md-radio-button value="inReview">In Review</md-radio-button>
      <md-radio-button value="done">Done</md-radio-button>
    </md-radio-group>
  </md-card-title>
  <md-card-content *ngIf="showContent">
    <div class="form-group input-wrapper">
      <hip-textarea [label]="'Description'" [model]="topic.description"></hip-textarea>
      <div class="columns">
        <div class="column-left">
          <md-input placeholder="assigned students"
                    class="default-input"
                    [(ngModel)]="topic.students">
          </md-input>
        </div>
        <div class="column-right">
          <label for="datepicker" class="datepicker-label">due date:</label>
          <input type="date"
                 class="default-input" id="datepicker"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column-left">
          <md-input placeholder="reviewed by"
                    class="default-input"
                    [(ngModel)]="topic.reviewer">
          </md-input>
        </div>
        <div class="column-right">
          <md-input placeholder="supervisor(s)"
                    class="default-input"
                    [(ngModel)]="topic.supervisors">
          </md-input>
        </div>
      </div>
      <md-input placeholder="length-requirements: 100-999 words, 2 images ..."
                class="default-input"
                [(ngModel)]="topic.requirements">
      </md-input>
      <hip-textarea [label]="'Content'" [model]="topic.content"></hip-textarea>
    </div>
    <div class="add-topic-wrapper">
      <div class="fill-add-topic"></div>
      <button md-raised-button color="primary" class="save">Save topic
        <md-icon>save</md-icon>
      </button>
      <div class="dropup">
        <button md-fab class="add-topic dropdown-toggle"
                data-toggle="dropdown"
        >
          <md-icon class="md-fab add-icon">add</md-icon>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="addTopic()">add topic</a></li>
          <li><a (click)="addSubTopic()">add existing topic</a></li>
          <li><a (click)="addSubTopic()">add sub topic</a></li>
        </ul>
      </div>
    </div>
    <div class="sub-topic">
      <hip-new-topic *ngFor="let topic of subTopics"
                     [depthLeft]="0"
                     [depth]="depth + 1"
                     [showContent]="topic.showContent">
      </hip-new-topic>
    </div>
  </md-card-content>
</md-card>