.topic-card {
  padding: 0;
}

md-card-title {
  padding: 10px 10px 5Px;
  width: 100%;
  background-color: #E7E9E7;
  border-bottom: 4px solid #FF8200;
}

md-radio-button {
  margin-right: 15px;
}

.default-input {
  width: 100%;
}

.input-wrapper {
  width: 100%;
  padding: 5px 15px;
}

.columns {
  width: 100%;
  clear: both;
}

.column-left, .column-right {
  width: 50%;
  float: left;
}

.column-left {
  padding-right: 15px;
}

.column-right {
  padding-left: 15px;
}

.sub-topic {
  width: 100%;
  padding: 5px 0 5px 15px;
}

md-radio-group {
  float: right;
  font-size: .5em;
  margin-right: 20px;
  margin-top: 15px;
}

.expander {
  float: right;
  padding: 15px;
  clear: both;
  display: block;
}

.expander:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.small-title {
  height: 60px;
}

.small-title md-input {
  font-size: 14px;
  margin-top: 0;
}

.subtopic {
  border-left: 2px solid #00205B;
}

.add-topic-wrapper {
  width: 100%;
  display: flex;
}

.add-topic-wrapper .dropdown-menu {
  margin-left: -80px;
}

.fill-add-topic {
  flex: 1 1 auto;
}

.add-topic {
  margin-right: 15px;
  margin-bottom: 15px;
  background: #FF8200;
}

.add-icon {
  padding: 0;
}

.datepicker-label {
  float: left;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.380392);
}

#datepicker {
  border: none;
  float: left;
  width: 150px;
  margin-top: 12px;
  margin-left: 10px;
  padding: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.380392);
}

#description {
  padding: 0px;
}

#datepicker:focus {
  border: none;
  border-image: none;
  border-bottom: 2px solid #00205B;
  box-shadow: none;
}

.save {
  height: 50px;
  margin: 5px 15px;
}

.save md-icon {
  margin-left: 5px;
  vertical-align: text-bottom;
}

.remove-topic {
  vertical-align: middle;
  margin: 5px;
}