ul {
    list-style-type: none;
    color: #000;
   }

.horizontal-line{
    border-top: 1px solid black;
    display: block;
    height: 1px;
    margin: 1em 0;
    margin-left: -46px;
    margin-bottom: -18px;
    width: 41px;

}

.horizontal-line-titles{
    border-top: 1px solid black;
    display: block;
    height: 1px;
    /*margin: 1em 0;*/
/*    //margin-left: -46px;
    //margin-bottom: -18px;
    width: 41px;*/

}
    
.iconButton{
    font-size: 20px;
    margin-right: 5px;
    cursor:pointer;
}

.allTopics {
    border-style: none;
    border-left: 1px solid black;
    margin-left: 10;

    /*border-top: 1px solid black;*/
}
.subtopics{
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    width: 110;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.subtopicsTitle {
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    width: 160px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-table;
}

.content {
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    width: 311px;
    height: 30px;
    margin-top: -1px;
    margin-bottom: 10px;
    margin-left: 51px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: -71px;
    display: inline-table;
}