<md-card>
  <md-card-content>
    <img id="uploadPicture" class="uploadPicture" src="{{ file_src }}"/>
  </md-card-content>
  <md-card-actions>
    <input id="uploadedFile" type="file" #fileInput (change)="chooseImage(fileInput.files)"/>
    <button md-raised-button color="primary" [disabled]="isUploaded" (click)="uploadPicture(fileInput.files)">Upload Picture</button>
    <button md-raised-button color="primary" [disabled]="isRemoved" (click)="removePicture()">Remove Picture</button>
  </md-card-actions>
</md-card>
