<md-card class="default-card">
  <h1 *ngIf="page">
    {{ 'edit page' | translate }}:
    {{ page.title ? page.title : '(' + ('no title' | translate) + ')' }}
  </h1>
</md-card>

<md-card class="default-card">
  <md-progress-bar *ngIf="!page" mode="indeterminate" color="primary"></md-progress-bar>
  <hip-page-input [page]="page" *ngIf="page"></hip-page-input>

  <md-card-actions align="end">
    <button md-raised-button (click)="openHistory()">
      {{ 'change history' | translate }}
      <md-icon>history</md-icon>
    </button>
    <button md-raised-button (click)="cancel()">
      {{ 'cancel' | translate }}
      <md-icon>cancel</md-icon>
    </button>
    <button md-raised-button color="primary" (click)="savePage()">
      {{ 'save' | translate }}
      <md-icon>save</md-icon>
    </button>
  </md-card-actions>
</md-card>
