<md-card class="default-card">
  <h1>{{ 'routes' | translate }}</h1>
</md-card>
<md-card class="default-card">
  <div class="topic-search">
    <md-input-container class="grow-width">
      <input mdInput placeholder="{{ 'search...' | translate }}" [(ngModel)]="query" (keyup.enter)="findTopics()">
    </md-input-container>
    <button md-icon-button *ngIf="showingSearchResults" (click)="resetSearch()">
      <md-icon>close</md-icon>
    </button>
    <button md-icon-button  (click)="findTopics()">
      <md-icon>search</md-icon>
    </button>
    <md-select  ngDefaultControl placeholder="{{ 'status' | translate }}">
      <md-option value="ALL">{{ 'All' | translate }}</md-option>
      <md-option value="PUBLISHED">{{ 'Published' | translate }}</md-option>
      <md-option value="IN_REVIEW">{{ 'InReview' | translate }}</md-option>
      <md-option value="DRAFT">{{ 'Draft' | translate }}</md-option>
    </md-select>
    <md-card-actions align="end">
      <button  class="addButton" (click)="createRoute()" md-mini-fab title="{{ 'add route' | translate }}">
        <md-icon>add</md-icon>
      </button>
    </md-card-actions>
  </div>
  <md-list-item *ngFor="let route of routes | paginate: { id: 'server',
  itemsPerPage: pageSize,
  currentPage: currentPage,
  totalItems: totalItems }">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ route.title }}</h4>
    </div>
    <div class="card-block">
      <p class="card-text">{{ route.description }}</p>
      <h5 class="card-subtitle mb-2 text-muted">{{route.duration}} h - {{route.distance}} Km/h</h5>
      <p class="card-text">Tagged : bar,restaurant</p>
    </div>
  </div>
  <md-card-actions align="end">
    <button  [routerLink]="[ '/routes/edit', 12]"  md-icon-button color="primary" title="{{ 'edit' | translate }}">
      <md-icon>edit</md-icon>
    </button>
    <button  md-icon-button color="warn" title="{{ 'delete' | translate }}">
      <md-icon>delete_forever</md-icon>
    </button>
  </md-card-actions>
</md-list-item>
<hip-pagination (pageChange)="getPage($event)" *ngIf="routes !== undefined && routes.length > 0"></hip-pagination>
</md-card>
