
.topic-search {
  display: flex;
}

.topic-search button {
  margin-left: .2em;
}

.no-results-message {
  font-size: larger;
  color: #888;
  text-align: center;
  margin-top: 1.5em;
}
.addButton{
  margin-left: 4em !important;
}