<div>
    <tag-input [ngModel]="[]"
                [onlyFromAutocomplete]="true"
                [autocompleteItems]="names"
                [autocomplete]="true"
                (onRemove)="onRemove($event)"
                (onAdd)="onAdd($event)"
                [placeholder] ="options.tagPlaceholder"
                [maxItems]="options.maxItems"
                [secondaryPlaceholder]="options.inputPlaceholder"
                (keyup)="updateStudentList($event)" ngDefaultControl>
    </tag-input>
</div>