<div>
  <tag-input [ngModel]="users" [onlyFromAutocomplete]="true"
             [identifyBy]="'id'" [displayBy]="'email'"
             (onRemove)="onRemove($event)" (onAdd)="onAdd($event)"
             [placeholder]="tagPlaceholder | translate" [maxItems]="maxItems"
             [secondaryPlaceholder]="placeholder"
             (keyup)="updateUserList($event)" ngDefaultControl #input>
    <tag-input-dropdown [autocompleteItems]="foundUsers">
      <template let-item="item">
        <div class="dropdown-item">{{ item.display }}</div>
      </template>
    </tag-input-dropdown>
  </tag-input>
</div>
