<div>
  <tag-input [ngModel]="users" [onlyFromAutocomplete]="true"
             [identifyBy]="'id'" [displayBy]="'email'"
             (onRemove)="onRemove($event)" (onAdd)="onAdd($event)"
             [placeholder]="tagPlaceholder | translate" [maxItems]="maxItems"
             [secondaryPlaceholder]="placeholder"
             (keyup)="updateUserList($event)" ngDefaultControl #input>
    <template let-item="item">
      <span>{{ item.display }} {{ item.fullName}}</span>
      <span (click)="input.removeItem(item)">
            <md-icon>close</md-icon>
      </span>
    </template>
    <tag-input-dropdown [autocompleteItems]="foundUsers"></tag-input-dropdown>
  </tag-input>
</div>
