<md-card class="default-card">
  <h1>{{ 'tag frequency analysis' | translate}}</h1>
</md-card>
<md-card class="default-card">
    <table>
      <thead>
        <tr>
          <th (click)="sort('value')">{{ 'word' | translate }}</th>
          <th>{{ 'tag-name' | translate }}</th>
          <th>{{ 'frequency' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let frequency of frequencies; let i=index">
          <td>{{ frequency.value }}</td>
          <td>{{ tagNames[i] }}</td>
          <td>{{ frequency.count }}</td>
        </tr>
      </tbody>
    </table>
</md-card>
