<h1 md-dialog-title>Add Question</h1>

<md-dialog-content>
    <form id="new-question-form">
        <md-input-container class="question-input">
            <input mdInput placeholder="Question" [(ngModel)]="question.text" name="question" required>
        </md-input-container>
        <md-input-container>
            <input class="right-input" mdInput placeholder="Option A (right answer)" [(ngModel)]="question.options[0]" name="optionA"
                required>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Option B" [(ngModel)]="question.options[1]" name="optionB" required>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Option C" [(ngModel)]="question.options[2]" name="optionC" required>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Option D" [(ngModel)]="question.options[3]" name="optionD" required>
        </md-input-container>
        <md-select placeholder="{{ 'status' | translate }}" [(ngModel)]="question.status" name="status">
            <md-option *ngFor="let statusOption of statusOptions" [value]="statusOption">{{ statusOption | translate }}</md-option>
        </md-select>
        <div>
            <h4>{{ 'image' | translate }}:</h4>
            <span>{{ imageName }}</span>
        </div>
        <div>
            <button md-icon-button color="primary" title="{{ 'select image' | translate }}" (click)="selectImage()">
                <md-icon>add_a_photo</md-icon>
            </button>
            <button md-icon-button color="warn" title="{{ 'unset' | translate }}" (click)="removeImage()">
                <md-icon>close</md-icon>
            </button>
            <button md-mini-fab class="set-position" (click)="addMedia()" title="{{ 'add media' | translate }}">
                <md-icon>add</md-icon>
            </button>
        </div>
        <div class="image-container">
            <img class="image-size" *ngIf="previewURL" [src]="previewURL" alt="{{ 'image preview' | translate }}">
        </div>
    </form>
</md-dialog-content>

<md-dialog-actions align="end">
    <button md-dialog-close md-raised-button>
        {{ 'cancel' | translate }}
        <md-icon>cancel</md-icon>
    </button>
    <button *ngIf="!isEdit" [disabled]="!isQuestionValid()" md-raised-button color="primary" (click)="dialogRef.close(question)">
        {{ 'create' | translate }}
        <md-icon>add_circle</md-icon>
    </button>
    <button *ngIf="isEdit" [disabled]="!isQuestionValid()" md-raised-button color="primary" (click)="dialogRef.close(question)">
        {{ 'edit' | translate }}
        <md-icon>mode_edit</md-icon>
    </button>
</md-dialog-actions>