#media-search {
  display: flex;
  margin-bottom: 2em;
}

#media-search md-input-container {
  flex: 1 1;
}

#media-search md-select {
  position: relative;
  top: -5px;
  margin-left: .5em;
}

#add-medium-button {
  margin-left: 2em;
}

.tile-content {
  width: 100%;
  height: 100%;
}

.media-title {
  font-size: larger;
}


.ellipsis {
  overflow: hidden;
  max-height: 3.8em;
  -webkit-line-clamp: 3;
  line-height: 1.4em;
  position:relative;
}

.ellipsis:before {
  content:"";
  float: left;
  height:100%;
  width: 5px;
  height: 4.6em;
}

.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.ellipsis:after {
  content: "...";
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  float: right; position: relative;
  top: -25px; left: 100%;
  width: 20px; margin-left: -20px;
  padding-right: 5px;
  text-align: right;
  overflow:hidden
}

.image-size{
  height: 48px;
  width: 70px;
}
