.top-content {
  /** picture by Ben Jeffrey https://www.flickr.com/photos/jeffbr13/5646998821/
  License CC-ASA 2.0 https://creativecommons.org/licenses/by-sa/2.0/ **/
  background: url("./images/authentication/Paderborn.jpg") no-repeat fixed center;
  -webkit-backgroundsize: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.valign {
  padding-top: 115px;
}

md-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 0 10px;
}

md-card-title {
  padding: 20px 20px 10px;
  border-bottom: 2px solid #00205B;
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

md-card-content {
  text-align: center;
}

.form-content {
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  border-radius: 4px;
  margin: 0 auto;
  position:relative; top:15vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);

  
}

input[type = "text"]{
  height: 45px;
  width: 300px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 60px;
  background-color: #fff;
  padding-left: 20px;  
}

input[type = "password"] {
  height: 45px;
  width: 300px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-left: 20px;
}

a {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

a:hover {  
  text-align: center;
}

button {
  margin-top:20px;
  padding: 10px 25px;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 20px 0 20px;
  color: #E5E8F2;
}
