<div (keyup.enter)="loginUser()" class="top-content">
  <div class="valign">
    <md-card>
      <md-card-title>
        <p>{{ 'login title' | translate }}</p>
      </md-card-title>
      <md-card-content>
        <md-card-actions align="middle">
          <button md-raised-button color="primary" id="login-button" (click)="loginUser()">
            {{ 'signin' | translate }}
            <md-icon>exit_to_app</md-icon>
          </button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</div>
<div class="spinnerWrapper" *ngIf="waitingForResponse">
  <md-spinner></md-spinner>
</div>
