<tag-input [(ngModel)]="users" [onlyFromAutocomplete]="true"
           [identifyBy]="'identity'" [displayBy]="'email'"
           (ngModelChange)="updateData()"
           [placeholder]="tagPlaceholder | translate" [maxItems]="maxItems"
           [secondaryPlaceholder]="placeholder" [readonly]="readonly"
           ngDefaultControl #input theme="{{readonly ? 'minimal' : 'default'}}">
  <ng-template let-item="item">
    <div class="tag">
      <span>{{ item }}</span>
      <span (click)="input.removeItem(item)" *ngIf="!readonly">
            <md-icon>close</md-icon>
        </span>
    </div>
  </ng-template>
</tag-input>
