<md-card class="default-card">
  <h2>{{langDashboard | lowercase | translate}}</h2>
  <md-nav-list>
    <md-list-item *ngFor="let element of activity">
      <h2 md-line>{{element.title}}</h2>
      <p md-line>{{element.content}}</p>
    </md-list-item>
  </md-nav-list>
</md-card>

<md-card class="default-card">
  <h2>{{ langTopics | lowercase | translate }}</h2>
  <div class="bg-info info" *ngIf="topics.length == 0">{{responseHandled ? langTopics : langLoading}}</div>
  <hip-topic-list [topics]="topics"></hip-topic-list>
</md-card>

