<md-card class="default-card">
  <h1>{{ 'edit user' | translate}}</h1>
</md-card>
<span *ngIf="user.id === -1">{{ 'loading' | translate }}...</span>
<div class="flex">
  <hip-upload-picture></hip-upload-picture>
  <md-card>
    <md-card-content *ngIf="user.id !== -1">
      <md-input class="grow-width" [(ngModel)]="user.lastName" required type="text" id="lastName"
                placeholder="{{ 'last name' | translate }}" name="name" #lastName="ngModel">
        <md-hint [class.hidden]="lastName.valid" class="error-hint">
          <span>{{ 'name required' | translate }}</span>
        </md-hint>
      </md-input>
      <md-input class="grow-width" [(ngModel)]="user.firstName" required type="text" id="firstName"
                placeholder="{{ 'first name' | translate }}" name="firstName" #firstName="ngModel">
        <md-hint [class.hidden]="firstName.valid" class="error-hint">
          <span>{{ 'first name required' | translate }}</span>
        </md-hint>
      </md-input>
      <md-input class="grow-width" [(ngModel)]="user.email" disabled type="email" id="email"
                placeholder="{{ 'email' | translate }}" name="email" #email="ngModel">
      </md-input>
      <md-select [(ngModel)]="user.role" placeholder="{{ 'role' | translate }}">
        <md-option *ngFor="let role of roles" [value]="role">
          {{ role | translate }}
        </md-option>
      </md-select>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button type="button" [routerLink]="['/users']" color="primary">
        {{ 'abort' | translate }}
      </button>
      <button md-raised-button type="submit" color="primary" class="save" (click)="updateUser()"
              [disabled]="user.firstName.length < 3 || user.lastName.length < 3">
        {{ 'save' | translate }}
      </button>
    </md-card-actions>
  </md-card>
  <hip-edit-student-details *ngIf="showStudentDetails" [user]="user"></hip-edit-student-details>
</div>
