<md-card class="default-card">
  <h1>{{ 'edit user' | translate}}</h1>
</md-card>
<span *ngIf="user.id === -1">{{ 'loading' | translate }}...</span>
<div class="user-profile-card-position">
  <hip-user-profile-card></hip-user-profile-card>
</div>
<div class="role-card-position">
  <md-card>
    <md-card-content *ngIf="user.id !== -1">
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="user.roles" disabled type="role" id="role" placeholder="{{ 'role' | translate }}" name="role"
          #role="ngModel" />
      </md-input-container>
      <md-select multiple [(ngModel)]="user.role" placeholder="{{ 'role' | translate }}">
        <md-optgroup label="role">
          <md-option *ngFor="let role of roles" [value]="role" (click)="selectRole(role)">
            {{ role | translate }}
          </md-option>
        </md-optgroup>
      </md-select>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button [routerLink]="['/users']">
        {{ 'cancel' | translate }}
        <md-icon>cancel</md-icon>
      </button>
      <button md-raised-button type="submit" color="primary" (click)="updateUser()" [disabled]="user.firstName.length < 3 || user.lastName.length < 3">
        {{ 'save' | translate }}
        <md-icon>save</md-icon>
      </button>
    </md-card-actions>
  </md-card>
  <hip-edit-student-details *ngIf="showStudentDetails" [user]="user"></hip-edit-student-details>
</div>