<md-card class="default-card">
  <h1>{{ 'edit user' | translate}}</h1>
</md-card>
<span *ngIf="user.id === -1">{{ 'loading' | translate }}...</span>
<div class="flex">
  <hip-user-profile-card></hip-user-profile-card>
  <md-card>
    <md-card-content *ngIf="user.id !== -1">
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="user.lastName" required type="text" id="lastName" placeholder="{{ 'last name' | translate }}"
          name="name" #lastName="ngModel" />
        <md-hint [class.hidden]="lastName.valid" class="error-hint">
          <span>{{ 'name required' | translate }}</span>
        </md-hint>
      </md-input-container>
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="user.firstName" required type="text" id="firstName" placeholder="{{ 'first name' | translate }}"
          name="firstName" #firstName="ngModel" />
        <md-hint [class.hidden]="firstName.valid" class="error-hint">
          <span>{{ 'first name required' | translate }}</span>
        </md-hint>
      </md-input-container>
      <md-input-container class="grow-width">
        <input mdInput [(ngModel)]="user.email" disabled type="email" id="email" placeholder="{{ 'email' | translate }}" name="email"
          #email="ngModel" />
      </md-input-container>
      <md-select [(ngModel)]="user.role" placeholder="{{ 'role' | translate }}">
        <md-option *ngFor="let role of roles" [value]="role">
          {{ role | translate }}
        </md-option>
      </md-select>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button [routerLink]="['/users']">
        {{ 'cancel' | translate }}
        <md-icon>cancel</md-icon>
      </button>
      <button md-raised-button type="submit" color="primary" (click)="updateUser()" [disabled]="user.firstName.length < 3 || user.lastName.length < 3">
        {{ 'save' | translate }}
        <md-icon>save</md-icon>
      </button>
    </md-card-actions>
  </md-card>
  <hip-edit-student-details *ngIf="showStudentDetails" [user]="user"></hip-edit-student-details>
</div>