<md-card class="default-card">
  <h1>{{ 'all tags' | translate }}</h1>
</md-card>

<md-card class="default-card">
  <md-progress-bar *ngIf="!treeLoaded" mode="indeterminate" color="primary"></md-progress-bar>

  <md-tab-group *ngIf="treeLoaded" (selectChange)="setActiveTab($event)">
    <md-tab *ngFor="let layer of layerTree" label="{{ layer.name | translate }}">
      <p *ngIf="layer.tags.length < 1" class="no-tags-message">{{ 'no tags' | translate }}</p>
      <hip-tag-list [tags]="layer.tags" [tagsEditable]="userCanEditTags"></hip-tag-list>
    </md-tab>
  </md-tab-group>

  <md-card-actions align="end">
    <button *ngIf="userCanCreateTags" (click)="createTag()" class="add-tag" md-raised-button color="primary">
      {{ 'create new tag' | translate }}
    </button>
  </md-card-actions>
</md-card>
