<md-card class="default-card">
  <h1>{{ 'all tags' | translate }}</h1>
</md-card>

<md-card class="default-card">
  <md-card-actions align="end">
    <button md-mini-fab (click)="createTag()" id="add-tag" *ngIf="userCanCreateTags" title="{{ 'create new tag' | translate }}">
      <md-icon>add</md-icon>
    </button>
  </md-card-actions>

  <md-progress-bar *ngIf="!tagsLoaded" mode="indeterminate" color="primary"></md-progress-bar>

  <md-tab-group *ngIf="tagsLoaded" (selectChange)="setActiveTab($event)">
    <md-tab *ngFor="let layer of layerTree" label="{{ layer.name | translate }}">
      <p *ngIf="layer.tags.length < 1" class="no-tags-message">{{ 'no tags' | translate }}</p>
      <hip-tag-list [tags]="layer.tags" [tagsEditable]="userCanEditTags"></hip-tag-list>
    </md-tab>
  </md-tab-group>
</md-card>
