<h1 md-dialog-title>{{ 'create tag' | translate }}</h1>

<md-dialog-content>
  <md-input-container class="grow-width">
    <input mdInput placeholder="{{ 'title' | translate }}" [(ngModel)]="tag.title" required>
  </md-input-container>
  <md-input-container class="grow-width">
    <input mdInput placeholder="{{ 'description' | translate }}" [(ngModel)]="tag.description">
  </md-input-container>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-dialog-close md-raised-button>
    {{ 'cancel' | translate }}
    <md-icon>cancel</md-icon>
  </button>
  <button md-raised-button color="primary" [disabled]="tag.title.length < 1" (click)="dialogRef.close(tag)">
    {{ 'create' | translate }}
    <md-icon>add_circle</md-icon>
  </button>
</md-dialog-actions>
