<div id="create-button">
  <button md-mini-fab (click)="createFeatureGroupDialogue()" title="{{ 'create feature group' | translate }}">
    <md-icon>add</md-icon>
  </button>
</div>
<table>
  <thead>
    <tr>
      <th>{{ 'ID' | translate }}</th>
      <th>{{ 'group name' | translate }}</th>
      <th>{{ 'members' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let featureGroup of featureGroups">
      <td>{{ featureGroup.id }}</td>
      <td>{{ featureGroup.name }}</td>
      <td>
        <ul>
          <li *ngFor="let member of featureGroup.members" [routerLink]="[ '/edit-user', member ]">{{ member }}</li>
        </ul>
      </td>
      <td>
        <button md-icon-button color="warn" (click)="deleteFeatureGroupDialogue(featureGroup)" title="{{ 'delete feature group' | translate }}">
          <md-icon>delete_forever</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
