<md-card class="default-card">
  <table>
    <thead>
    <tr>
      <th>{{ 'Group name' | translate }}</th>
      <th>{{ 'Members' | translate }}</th>
      <th>{{ 'Features' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let featuregroups of featureGroups">
      <td *ngIf="!isEditEnable || featuregroups.id !== editableFeatureGroupId">{{ featuregroups.name | translate }}</td>
      <td *ngIf="isEditEnable && featuregroups.id === editableFeatureGroupId">
        <input mdInput [(ngModel)]="featuregroups.name" name="name" placeholder="{{ 'feature group name' | translate }}"
               required></td>
      <td *ngIf="!isEditEnable || featuregroups.id !== editableFeatureGroupId">
        <p *ngFor="let members of featuregroups.members">{{members | translate}}</p>
        <p *ngIf="featuregroups.members.length===0">{{ 'Never' | translate  }}</p>
      </td>
      <td *ngIf="isEditEnable && featuregroups.id === editableFeatureGroupId">
        <p class="select-pointer" *ngFor="let members of featuregroups.members" [routerLink]="[ '/edit-user', members ]">{{members | translate}}</p>
        <md-select class="select-group" [ngModel]="selectedFeatureGroup" placeholder="{{ 'Select User' | translate }}"
                   (ngModelChange)="setUserInFeatureGroup($event, featuregroups.id)">
          <md-option *ngFor="let users of userNames" [value]="users">
            {{ users | translate }}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <p *ngFor="let allfeatures of allFeatures">
              <md-checkbox [disabled]="!isEditEnable || featuregroups.id !== editableFeatureGroupId"
                           [checked]="checkEnabledFeatures(featuregroups.enabledFeatures, allfeatures.id)"
                           (change)="updateFeatureSubscription($event, featuregroups.enabledFeatures, allfeatures.id)">
                {{allfeatures.name}}
              </md-checkbox>
            </p>
          </div>
        </md-list-item>
      </td>
      <td>
        <button *ngIf="!isEditEnable || featuregroups.id !== editableFeatureGroupId"
                (click)="editFeatureGroup(featuregroups.id)" md-raised-button color="primary">
          {{ 'edit' | translate }}
        </button>
        <button *ngIf="isEditEnable && featuregroups.id === editableFeatureGroupId" md-raised-button
                (click)="updateFeatureGroup(featuregroups)" color="primary">
          {{ 'save' | translate }}
        </button>
        <button md-raised-button (click)="deleteFeatureGroupDialogue(featuregroups)" color="warn">
          {{ 'delete' | translate }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <md-card-actions align="end">
    <button md-raised-button (click)="createFeatureGroupDialogue()" color="primary">
      {{ 'create feature group' | translate }}
    </button>
  </md-card-actions>
</md-card>
