<md-card class="default-card">
  <h1>{{ 'add subtag' | translate }} &ldquo;{{ tag.name }}&rdquo;</h1>
</md-card>
<md-card class="default-card">
  <md-card-content>
    <table>
      <thead>
        <tr>
          <th>{{ 'tag name' | translate }}</th>
          <th>{{ 'short name' | translate }}</th>
          <th>{{ 'description' | translate }}</th>
          <th>{{ 'layer' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of allTags">
          <td>{{ tag.name }}</td>
          <td>{{ tag.shortName }}</td>
          <td>{{ tag.description }}</td>
          <td>{{ tag.layer }}</td>
          <td>
            <button (click)="clicked(tag.id, tag.name)" [disabled]="isDisabled(tag.id)" md-raised-button color="primary">
              {{ 'set as subtag' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>