#media-search {
  display: flex;
  margin-bottom: 2em;
}

#media-search md-input-container {
  flex: 1 1;
}

#media-search md-select {
  position: relative;
  top: -5px;
  margin-left: .5em;
}

#add-media-button {
  margin-left: 2em;
}

.tile-content {
  width: 100%;
  height: 100%;
}

.media-title {
  font-size: larger;
}
