<md-card class="default-card">
  <h1>{{ 'media' | translate }}</h1>
</md-card>

<md-card class="default-card">
  <div id="media-search">
    <md-input-container>
      <input mdInput placeholder="{{ 'search...' | translate }}" [(ngModel)]="searchQuery" (keyup.enter)="findMedia()">
    </md-input-container>

    <button md-icon-button *ngIf="showingSearchResults" (click)="resetSearch()" title="{{ 'reset search' | translate }}">
      <md-icon>close</md-icon>
    </button>
    <button md-icon-button color="primary" [disabled]="searchQuery.trim().length < 1" (click)="findMedia()" title="{{ 'search' | translate }}">
      <md-icon>search</md-icon>
    </button>

    <md-select [(ngModel)]="selectedStatus" (ngModelChange)="reloadList()" placeholder="{{ 'filter by status' | translate }}">
      <md-option *ngFor="let status of statuses" [value]="status">
        {{ status | translate }}
      </md-option>
    </md-select>

    <md-select [(ngModel)]="selectedType" (ngModelChange)="reloadList()" placeholder="{{ 'filter by type' | translate }}">
      <md-option *ngFor="let type of types" [value]="type">
        {{ type | translate }}
      </md-option>
    </md-select>

    <button md-mini-fab (click)="addMedium()" id="add-medium-button" title="{{ 'upload medium' | translate }}">
      <md-icon>add</md-icon>
    </button>
  </div>

  <md-grid-list cols="2" rowHeight="4:1" gutterSize="20px">
    <md-grid-tile *ngFor="let medium of media | paginate: { id: 'server',
                                                            itemsPerPage: pageSize,
                                                            currentPage: currentPage,
                                                            totalItems: totalItems }">
      <div class="tile-content">
        <div class="media-title">{{ medium.title }}</div>
        <div>{{ medium.description }}</div>
        <div>{{ medium.type | lowercase | translate }}</div>
        <div>
          <button md-icon-button color="primary" (click)="editMedium(medium)" title="{{ 'edit' | translate }}">
            <md-icon>edit</md-icon>
          </button>
          <button md-icon-button color="warn" (click)="deleteMedium(medium)" *ngIf="!medium.used" title="{{ 'delete' | translate }}">
            <md-icon>delete_forever</md-icon>
          </button>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
  <hip-pagination (pageChange)="getPage($event)" *ngIf="media !== undefined && media.length > 0"></hip-pagination>
</md-card>
